[2021-02-07 08:01] tobiaskohlbau opened #1619 "support darwin arm64"
This issue is to track what is needed to support darwin arm64 on tinygo out of the box.

First of all I've got tinygo working on the new machines without much hassle. The only issue I encountered was that tinygo depends on `go.bug.st/serial v1.0.0` which has a build constraint which excludes arm64 and darwin in combination. I created an upstream PR to fix this https://github.com/bugst/go-serial/pu

[2021-02-07 09:21] deadprogram commented on #1619
This is seriously awesome, thank you for working on it! I suppose we should give the maintainers at least a day to merge that PR. :smile_cat:

[2021-02-07 10:52] tobiaskohlbau commented on #1619
I think it's even a good idea to give them at least time until Go 1.16 is released. As Go 1.16 would obviously also be a requirement for this to work. As far as I expect 1.16 should be right around the corner.

[2021-02-07 11:03] oflebbe opened #1620 "Cannot get cgo to work"
Made a demonstration project,
https://github.com/oflebbe/testesp32

modelled after tinygo-org/bluetooth

Somehow the c source is not picked up. Please tell me what I am missing.

[2021-02-07 14:37] aykevl commented on #1620
Your code sample is not valid:

[code]

[2021-02-07 14:38] aykevl commented on #1620
But if I remove the file main.go, I can reproduce your issue.

[2021-02-07 14:41] aykevl commented on #1620
I think it is because TinyGo does not (yet) support variadic parameters in CGo. This will work:

[code]

Note that in C, any function that has an empty parameter list is a variadic function. Therefore, you should put `void` in there unless (and this is rare) you really want to make a variadic function.

[2021-02-07 15:05] aykevl commented on #1620
Here is a fix: https://github.com/tinygo-org/tinygo/pull/1621

[2021-02-07 18:34] oflebbe commented on #1620
Thanks. OMG.

[2021-02-07 18:34] #1620 closed, assigned to nobody

[2021-02-07 20:03] wbourne0 commented on #1598
@ardnew so a bit of an update:
Here's what I've done:
- `board_teensy41.go` (copied board_teensy40.go)
-  `mimxrt1062-teensy41.ld` (copied `mimxrt1062-teensy40.ld` just changed the memory area here to match the ld file in the cores repo for tinygo)
- `teensy41.s` (copied `teensy40.s`, changed the `sflashA1Size` to the value that's commented out)
- `teensy41.json` (Copied `teensy40.json` just updat

[2021-02-09 03:39] mogenson opened #1622 "ARM inline assembly help"
Hello, I'm trying to use the inline assembly feature to call a bios function on the Game Boy Advance with the `swi` instruction. One example function is a software divide that uses registers `r0`, `r1`, and `r3` for input/output.

From the GBA documentation:
[code]

Here's my Go function:
[code]

Here's the compiler output:
[code]

Am I using the inline assembly syntax correctly? Also, given that

[2021-02-09 04:31] wbourne0 commented on #1598
I've got a branch of a fork with what I've done so far if you want to take a look: https://github.com/AllAwesome497/tinygo/tree/board-teensy41.

[2021-02-09 06:39] rajiv-kanchan commented on #1587
Just curious to know if anyone's working on this?

[2021-02-09 07:47] deadprogram commented on #1619
Yes, the next release of TinyGo will come out shortly after this next Go release.

[2021-02-09 08:04] deadprogram commented on #1615
Hi @schmidtw

I think the reason for the per chip implementations on the ili9341 and others is due to the desire for a more optimized byte transfer to displays with SPI interfaces. These is some ongoing effort to accommodate this in PR https://github.com/tinygo-org/tinygo/pull/1453 for example. The CS pin question has not come up in those discussions, afaik, so this is certainly a good time to dis

[2021-02-09 13:55] aykevl commented on #1622
This is not correct ARM assembly syntax. I wonder where you got it from?

Currently, no. So code like this is unsafe unless you save/restore all clobbered register according to the calling convention.
What are you trying to do? Dividing should already be well supported.

[2021-02-09 13:57] aykevl commented on #1622
Also, you are loading from an integer (non address) value? `ldr` loads a value while `numerator` for example is an integer, not a pointer.

[2021-02-09 19:11] mogenson commented on #1622
Thanks for the help. There are much more useful bios functions. This is a trivial example where I can easily test the result.

My mistake with the assembly, I forgot to take the values by address. Here's an updated example where I attempt to stash registers and restore them after the bios call.

[code]

This results in the error:
[code]

If I'm reading the [inline assembly](https://tinygo.org/comp

[2021-02-09 23:42] aykevl commented on #1622
This is still entirely unsafe because LLVM can pick any register (including `r0`-`r3`) to store the inline assembly for the parameters.

Can you tell me which function you are trying to call? That would make it easier to explain how to do this.

[2021-02-10 02:37] mogenson commented on #1622
Sure thing. [Here's a tutorial](https://www.coranac.com/tonc/text/swi.htm) about calling bios functions using ARM assembly. Section 17.3 uses the `Div` function as an example. The inline assembly there just uses the `swi` instruction and takes advantage of the C ABI to populate the `r0` and `r1` registers.

By the way, this is just an educational interest. No worries if it's not currently possible

[2021-02-10 12:10] aykevl commented on #1622
I see.

I think the easiest way to do this using CGo. You can create a C file with the inline assembly as you'd like, and another file that calls the function in there. TinyGo doesn't have a heavy CGo overhead, a CGo call is just a regular function call.

[2021-02-10 12:16] aykevl commented on #1615
Indeed, as @deadprogram indicates the ili9341 per chip implementations are not intended and are unrelated to the CS pin.

A better example would be the BMI160: https://github.com/tinygo-org/drivers/blob/dev/bmi160/bmi160.go. It has a CS pin and the `NewSPI` function simply takes the CS pin and the (already configured) SPI peripheral.

[2021-02-10 14:35] mogenson commented on #1622
Thanks, I'll look into CGo!

[2021-02-10 14:35] #1622 closed, assigned to nobody

[2021-02-10 17:41] aykevl commented on #1622
Actually, that tutorial you linked isn't safe either. If for example that `Div` function were inlined (which is likely because it is short), the C ABI would no longer apply.

I highly recommend reading this:
http://www.ethernut.de/en/documents/arm-inline-asm.html

[2021-02-10 21:00] oflebbe opened #1624 "Standalone C files don't get header search path from #cgo ?"
Hi,

thanks for hinting for using proper prototypes.

However, only slightly more involved commands still won't compile

See https://github.com/oflebbe/testesp32

Maybe the CFLAGS flag isn't honored for stand-alone C files ?

[2021-02-10 22:14] aykevl commented on #1624
Yes, that's true. Fixing this shouldn't be too hard, but it conflicts with https://github.com/tinygo-org/tinygo/pull/1612 so I'd like to get that PR ready first. In the meantime, you could work around it like this:

[code]

Basically, do an include relative to the current directory.

[2021-02-10 22:54] aykevl commented on #1624
Based on the repository name, you might be interested in this PR: https://github.com/tinygo-org/tinygo/pull/1626

[2021-02-11 12:55] aykevl commented on #1624
#1626 does not fix this issue, so I've removed the next-release label.

[2021-02-11 19:44] wcpsoft opened #1629 "TinyGO support Build hex bin run soc , How to TinyGO support run freertos?"
I know TinyGO support Build hex bin run soc,but How to TinyGO support run freertos or other?

[2021-02-11 19:47] oflebbe commented on #1624
Indeed !  #1626 looks very interesting.
Wanted to poke into compiling and linking with ESP-IDF Headers and binaries .

[2021-02-11 22:40] aykevl commented on #1629
TinyGo has its own scheduler. While it could in theory use FreeRTOS, that introduces a lot of complexity and makes building TinyGo programs a lot more difficult. Therefore, I do not see a reason for integration at the moment.

[2021-02-12 03:20] wcpsoft commented on #1629
Thank you,I know

[2021-02-12 03:20] #1629 closed, assigned to nobody

[2021-02-12 11:02] Nerzal commented on #1351
I'd say this issue can now be closed, as SPI support is coming in the next release thanks to #1614

[2021-02-12 13:30] deadprogram commented on #1351
Tagged for next release, at which point it can be closed.

[2021-02-12 15:02] wcpsoft opened #1630 "my create new board,but LED not declared by package machine"
Today,I use josh-mega-esp32 board witre led demo,but there was a problem,LED not declared by package machine?
base on board_esp32-coreboard-v2.go template create board_josh-mega-esp32.go, i modify file IO declared, this is my code,i want someone help me solve this problem.thank you.

i'm sure led.go use led := machine.Pin(22) run work.

- board_josh-mega-esp32.go code

[code]

- josh-mega-esp32.js

[2021-02-12 19:02] aykevl commented on #1630
Build tags may not contain dashes. You can try `josh_mega_esp32` instead:

[2021-02-13 11:34] wcpsoft commented on #1630
thanks,It has already worked.

[2021-02-13 11:34] #1630 closed, assigned to nobody

[2021-02-13 19:50] wcpsoft opened #1631 "how to config like stm32flash tools for mac"
Today,my create stm32f407zgt6 new board,encountered some tough problems.
some problems:
1) how to config like stm32flash tools for mac,copy bin file flash.i want d'not use st-link v2 download flash. because of my board has usb-ttl chip,chip model is ch340c(this is a usb-ttl chip maked in china).
2) i want know tinygo how to bootloader copy flash maybe external system dependencies

i want someone h

[2021-02-14 12:17] #1631 closed, assigned to nobody

[2021-02-15 08:46] tobiaskohlbau commented on #1619
The upstream project merged the darwin/arm64 support and released version https://github.com/bugst/go-serial/tree/v1.1.2 which includes the support.

[2021-02-15 09:40] deadprogram commented on #1619
@tobiaskohlbau will you submit a PR here that updates the go.mod/go.sum files?

[2021-02-15 14:45] hamidrezakks opened #1633 "macOS dev build failed"
Hi,
I've been waiting so long for 0.17.0 to be released (not yet :D )
So I decided to build the dev branch myself,
Here is the error I get on `go install`:

[code]

I'm using go 1.15.7, llvm 11 and macOS Catalina

Bests,
KK

[2021-02-15 15:12] aykevl commented on #1633
Are you using the latest version of the dev branch? Support for LLVM 11 was only merged a week ago: https://github.com/tinygo-org/tinygo/pull/1618

[2021-02-15 15:13] aykevl commented on #1633
Nevermind, it looks like you are.

Can you check whether `/usr/local/opt/llvm@11` exists?

[2021-02-15 15:55] leobragaz opened #1634 "Package runtime/debug is not in GOROOT"
Hi everyone, I was looking at [this](https://github.com/tinygo-org/tinygo/issues/1472) and it was closed apparently because it was related to problems in supporting wasm with older go version but I'm having the same issue with go `1.15`

[code]
Is it still unsupported?

[2021-02-16 04:17] mathetake commented on #1504
Here's the PR to solve this: https://github.com/tinygo-org/tinygo/pull/1632

[2021-02-16 04:18] mathetake commented on #1505
Update: I've started working on this issue, and the PR is almost there: https://github.com/mathetake/tinygo/compare/wasi-env-vars...mathetake:libc-wasi?expand=1 (already verified that ioutil.ReadAll works correctly).

[2021-02-16 07:26] hamidrezakks commented on #1633
After calling:
`llvm-gcc -v`
[code]

[2021-02-16 07:27] hamidrezakks commented on #1633
And yes, directory `/usr/local/opt/llvm` exists.

[2021-02-16 10:48] aykevl commented on #1633
That's a different LLVM, the one from Apple. TinyGo does not work with that variant. The path `/usr/local/opt/llvm` is also the wrong path: it has to be `/usr/local/opt/llvm@11`. At the moment only LLVM 11 from Homebrew is supported, which you can install using `brew install llvm@11`.

[2021-02-16 11:12] hamidrezakks commented on #1633
Thanks, it successfully installed, but version is still 0.16.0

[2021-02-16 11:53] aykevl commented on #1633
What do you mean? After `go install`, `tinygo version` still reports version 0.16.0?

[2021-02-16 12:18] Nerzal commented on #1587
I'm happy to help out at this topic, as soon as my pi picos arrive. Ordered 4, but they are currently not deliverable.

[2021-02-16 12:21] hamidrezakks commented on #1633
Yes

[2021-02-16 12:23] hamidrezakks opened #1635 "crypto bigInt support"
Hi,
Is there any way to use bigInt in tinygo?

[code]

[2021-02-16 12:27] hamidrezakks commented on #1635
Also `fmt.Errorf` is not supported,

[code]

I managed to fix it by replacing `fmt.Errorf` with my own function `DumpError`

[code]

But it's a mess!!

[2021-02-16 17:46] deadprogram commented on #1587
https://www.cnx-software.com/2021/01/27/a-closer-look-at-raspberry-pi-rp2040-programmable-ios-pio/ looks helpful.

[2021-02-17 02:00] jeffmhastings commented on #1587
I've got the blinky1 example running on a raspberry pi pico. Right now the sleep timing is a bit off, and there are a number of things I still need to clean up before I would be ready to submit a PR. I hope to have one ready in the next couple of days though.

[2021-02-17 09:46] sago35 opened #1637 "samd : If you disconnect USBCDC after communication is established, it will cause an infinite loop."
I thought `usbLineInfo.lineState` would return to 0 after disconnecting communication, but it did not.
Even when it returns to 0, USBCDC.WriteByte() will go into an infinite loop depending on the timing of the disconnect.

* #1636
* #1481

We will discuss how to fix it.
A simple solution would be to stop sending if it takes more than Xmsec to send a single message.

[2021-02-17 09:48] sago35 commented on #1637
If the connection is never established, or never disconnected, there is no problem.

[2021-02-17 11:28] deadprogram opened #1638 "build: add darwin/arm64 binary build for release to CI"
Once we have added Go 1.16 to the CircleCI build, we need to add build step(s) to produce a darwin/arm64 binary artifact for release distribution.

[2021-02-17 11:33] deadprogram commented on #1175
I think this has been addressed at least on SAMD21/SAMD51 processors with the recent PRs merged.

@sago35 can it be closed now?

[2021-02-17 11:37] sago35 commented on #1175
Yes, this PR can be closed.
@deadprogram

[2021-02-17 11:37] #1175 closed, assigned to nobody

[2021-02-17 14:06] aykevl commented on #1638
Certainly. However, I think it is most practical to wait until CircleCI has added ARM64 executors, see: https://support.circleci.com/hc/en-us/articles/360047734172-Can-I-build-Apple-Silicon-Universal-apps-

Cross compiling large C++ projects is always a hassle. Cross compiling a compiler even more so. I could spend time to try to figure out how to cross compile TinyGo, but I think that time would

[2021-02-17 14:07] aykevl commented on #1635
Most of these issues should be fixed in the next release. I would suggest trying it (or waiting until we do a release, which should happen very soon).

[2021-02-17 14:09] aykevl commented on #1633
In that case, you are most likely not executing the right binary. Please check `which tinygo` to see which binary you are executing.

[2021-02-17 15:48] hamidrezakks commented on #1635
Thanks, I'll give it a try.

[2021-02-17 16:02] hamidrezakks commented on #1635
I ended up here:

[code]

[2021-02-17 16:03] hamidrezakks commented on #1633
You are right,
It was on GOROOT path

Thanks

[2021-02-17 23:34] aykevl commented on #1635
Try running `make wasi-libc`.

[2021-02-18 12:04] hamidrezakks commented on #1635
So I did this:
`export PATH=/usr/local/opt/llvm/bin:$PATH`
and then this:
`make install INSTALL_DIR=/tmp/wasi-libc`
And it worked,
Thanks

But binary output size is about 1.2MB, it is ok?

[2021-02-18 12:31] hamidrezakks commented on #1635
Golang native WASM output was about 4MB

[2021-02-18 13:20] hamidrezakks commented on #1635
Ok I faced another error:
TypeError: WebAssembly.instantiate(): Import #0 module="wasi_unstable" error: module is not an object or function

Seems like wasi doesn't work with go.importObject
[code]

[2021-02-18 23:37] aykevl commented on #1635
You can try `-no-debug`, which should lower binary size. 1.2MB seems rather large.

What is the full `tinygo` command that you use?

[2021-02-19 17:40] fgsch opened #1643 "Cannot import functions with the same name from different modules"
Tinygo version:

`tinygo version 0.16.0 darwin/amd64 (using go version go1.15.8 and LLVM version 10.0.1)`

Example:

[code]

Command line:

`tinygo build -target wasm -o main.wasm main.go`

Output in text format (via wasm2wat):

[code]

[2021-02-19 17:42] fgsch commented on #1643
I should add, the resulting code is calling the same function twice.

[2021-02-20 06:36] hamidrezakks commented on #1635
Build command:
`GOOS=js GOARCH=wasm /Users/hamidrezakk/go/bin/tinygo build -o /Users/hamidrezakk/ronak/river/web-app/public/bin/river-tiny.wasm -target wasm .`

But the major problem is now about `go.importObject` in `instantiateStreaming `

[2021-02-21 02:04] antJack opened #1646 "Wasm: make (runtime.alloc) fails even after calling to wasm_memory_grow"
Recently I used tinygo to compile my go file into wasm, the source file contains the following exported func:

[code]

compile command: (actually I use docker to do the compilation, and use the image: tinygo/tinygo-dev:latest)

[code]

the outputed wasm contains the following code in its .wat file:

[code]

which indicates that the memory size of the wasm is 2 page (2*64k), and the memory is expor

[2021-02-21 08:02] deadprogram commented on #1573
Looks like this has been fixed by #1645 so marking for next release.

[2021-02-21 14:00] fgsch commented on #1559
Function names are per module so it should be possible to have multiple `write` across different imports.

#1643 might be related.

[2021-02-21 14:14] fgsch opened #1647 "Support for wasi_snapshot_preview1"
While it's possible to change the module via `go:wasm-module` and use `wasi_snapshot_preview1`, I've encountered an issue (I will open a separate ticket) that makes this not ideal for my use case.

I was wondering if TinyGo could switch WASI to use `wasi_snapshot_preview1`, the latest version, instead of `wasi_unstable` by default?

[2021-02-21 14:38] raqbit commented on #1147
For me the volume comes up as `MDK-DONGLE` as well.

My `INFO_UF2.TXT`:

[code]

[2021-02-21 18:22] deadprogram commented on #1367
Is this still an issue now with the latest dev version?

[2021-02-21 18:25] deadprogram commented on #1189
I think that the concerns in this issue have been most addressed in recent versions of TinyGo with WASI support. Can we close this particular issue now in favor of more specific ones?

[2021-02-21 18:28] deadprogram commented on #1086
Is this still an issue with the latest TinyGo dev branch?

[2021-02-21 18:46] fgsch opened #1648 "Cannot define fd_write in an imported package"
Due to constraints in my environment, `fd_write` needs to be imported from `wasi_snapshot_preview1`.
This is possible if it is defined in the main package, for example using the following:

[code]

or, using a similar signature:

[code]

But using either of these approaches in an imported package fails with:

[code]

or:

[code]

respectively.
I'm not sure if there is a way to match the signature

[2021-02-21 18:47] fgsch commented on #1648
Related to #1647.

[2021-02-21 21:44] deadprogram commented on #1147
Based on your description, the nrf52840-mdk.json should be changed to the following:

[code]

Can someone who has one of these boards try this out with the latest TinyGo `dev` branch?

[2021-02-21 22:11] raqbit commented on #1147
Now that I look at it, it does not look like the non-dongle [nrf52840-mdk](https://github.com/makerdiary/nrf52840-mdk) has the same bootloader as the [nrf52840-mdk-usb-dongle](https://github.com/makerdiary/nrf52840-mdk-usb-dongle). In fact, despite sharing a name these boards appear to be quite different, as the non-dongle version has DAPlink running on a separate MCU where the dongle-version used

[2021-02-21 22:15] deadprogram commented on #1147
I see. So actually adding a new board definition in TinyGo for the dongle is probably the correct move, since it also has a different pinout.

[2021-02-22 06:29] ardnew opened #1649 "Teensy 4.0 UART stopped functioning after interp package rewrite"
Ran into the problem of no data coming out UART1 with the "serial" test program. I realize it is a little late now, seems like I did not test this before properly?

_Originally posted by @deadprogram in https://github.com/tinygo-org/tinygo/issues/1454#issuecomment-778838171_

[2021-02-22 10:16] Nerzal opened #1651 "WASM: panic: trying to make exported function async"
I get an error when trying to build a wasm project with an exported function.
I tried the ` // export functionName` syntax as described in the [documentation](https://tinygo.org/webassembly/webassembly/)

Is there a way to prevent the compiler toolchain from trying to make these optimizations?

TinyGo version:
`tinygo version 0.17.0-dev linux/amd64 (using go version go1.16 and LLVM version 11.1.0)

[2021-02-22 10:39] Nerzal opened #1652 "WASM: syscall/js.finalizeRef not implemented"
The error is a syscall/js.finalizeRef not implemented.
It does not seem to disrupt the flow of my code, but we might want to implement it.

TinyGo Version:

Error:
![grafik](https://user-images.githubusercontent.com/9110370/108717153-3a724200-751d-11eb-94a8-4d74e8367753.png)

Exported function by:

[code]

Call in js:
[code]

Function in wasm.go

[code]

[2021-02-22 12:53] Nerzal commented on #1651
Using ` -opt 1` build flag resolves the issue.
But we might still want to fix that behavior using the default flags.

[2021-02-22 13:07] Nerzal commented on #1651
So the problem seems to be, that this function wants to write something into a channel

[2021-02-22 14:42] hamidrezakks commented on #1635
I finally managed to run it, but here is the new error I get:
`WebAssembly.instantiate(): Import #5 module="env" function="math/big.addVV" error: function import requires a callable`
is math/bigInt supported.
@aykevl

[2021-02-22 19:20] ALTree opened #1653 "LLVM ERROR: Cannot select: intrinsic %llvm.coro.size"
[code]
[code]
[code]

[2021-02-23 12:02] tobiaskohlbau commented on #1573
Sounds like the best option. I wasn't aware that _tinygo_ does not depend on _libxml_. By any means I assumed it was needed 😄

[2021-02-23 23:43] nickprozee opened #1657 "machine: package machine is not in GOROOT (C:\Program Files\Go\src\machine)"
After following the tutorial in installing all the requirements I keep ending up with this error:
`machine: package machine is not in GOROOT (C:\Program Files\Go\src\machine)`

this happens on `go get machine`  and `go mod tidy`

**go version**
`go version go1.14.15 windows/amd64`

Here is the output of my `go env`:
[code]

[2021-02-23 23:48] #1657 closed, assigned to nobody

[2021-02-24 04:41] allthingssecurity opened #1658 "Tinygo on Linux uses go version 0.1"
When I try to run a tinygo program it says it is using version 0.1 of go instead of something between 1.11 and 1.15.
I tried deb package of both tinygo 0.15 and 0.16 but I get same error

[2021-02-24 13:28] deadprogram commented on #1658
How exactly did you produce that version? I ask because normally you can tell by running the command `tinygo version` like this:

[code]

I am not aware of any other way to do so.

[2021-02-24 13:31] deadprogram commented on #1653
Is that actually valid Go code?

[code]

[2021-02-24 13:36] deadprogram commented on #1652
See discussion at https://github.com/tinygo-org/tinygo/issues/1140

Seems like still needs to be done! :smile_cat:

[2021-02-24 13:37] aykevl commented on #1653
It is valid in the sense that it is well defined: a program like this is defined to exit with a panic. This is certainly a compiler bug, either in TinyGo or in LLVM.

[2021-02-24 14:30] mathetake commented on #1505
Update: I just created the PR to support basic file i/o: https://github.com/tinygo-org/tinygo/pull/1659

[2021-02-24 15:24] ALTree commented on #1653
@deadprogram Yes, it's valid, in the sense that it conforms to the [Go Specification](https://golang.org/ref/spec).

As @aykevl pointed out, in general a compiler shouldn't crash when compiling valid -or invalid- Go code. Valid code should generate a binary, which then may or may not panic at runtime, like mine does; invalid Go code should print a compilation error. In this case LLVM is crashing w

[2021-02-24 18:44] Nerzal commented on #1652
Oh sorry, should have searched first

[2021-02-24 18:51] deadprogram commented on #1652
Not at all, that info was a little buried unless doing a text search. I only did, because I recalled it existed. :mag_right:

[2021-02-24 20:10] tobiaskohlbau commented on #1573
I finally found some time to checkout the latest dev branch and can confirm that #1645 fixed this issue.

[code]

[2021-02-24 20:55] raqbit commented on #1658
When you set the tinygo cached GOROOT (as found by `tinygo info <board>`) as your GOROOT in GoLand, it also shows `v0.1.0` as the go version, not sure why, but probably related.

[2021-02-24 22:59] aykevl commented on #1658
In that case I think GoLand picks up the wrong version number.

TinyGo will use the Go installation that it finds by resolving the `go` command. I can assure you that it won't magically use Go 0.1, which is now very old.

[2021-02-26 09:34] raqbit commented on #1658
Found it, Goland picks up the version number from `src/runtime/internal/sys/zversion.go` in `GOROOT` via a regex.

Found it [here](https://github.com/go-lang-plugin-org/go-lang-idea-plugin/blob/e73dab44213ffa76b3d6a853aecb109929c3e2b5/src/com/goide/sdk/GoSdkUtil.java#L372) in the legacy open source go-lang-idea-plugin, the code of which probably still lives in GoLand.

So it seems like https://git

[2021-02-26 09:34] sago35 opened #1662 "How to do tinygo-gdb on windows"
The following changes make me use gdb-multiarch, but I still think I need to use arm-none-eabi-gdb.exe on windows.

* 1a2f051b

If rename arm-none-eabi-gdb.exe to gdb-multiarch.exe, it can be debugged with tinygo-gdb.
However, I think it is better to specify it with an argument like `tinygo gdb -debugger=arm-none-eabi-gdb ...` rather than renaming it.
Since I already created something that works,

[2021-02-26 10:02] sago35 commented on #1366
same on Windows 10.

[code]

[2021-02-26 10:04] sago35 commented on #1366
Does it depend on the version of openocd?
What version of openocd do you have? @aykevl

[2021-02-27 11:24] vidalouiswang opened #1664 "Why this project stopped?"

[2021-02-27 11:54] Nerzal commented on #1664
Could you please elaborate what exactly you intend to ask?

[2021-02-27 11:58] Nerzal opened #1665 "nano33: program "deadlocks" when using Nina chip + another SPI device"
I'm using a st7735 in a project, that displays sensor data and additionally that program posts the sensor data to a mqtt broker. Atleast that was the plan. But it is not a big deal, i don't really need the display as i have a WASM app, that displays the data :)

After connecting to the MQTT broker, the program halts, when trying to draw onto the st7735.
Is this intended behavior, as it is not poss

[2021-02-27 12:32] deadprogram commented on #1664
@vidalouiswang perhaps you are looking for the active `dev` branch:

https://github.com/tinygo-org/tinygo/tree/dev

[2021-02-27 14:06] aykevl commented on #1366
It has always worked well for me, with `tinygo gdb -target=microbit examples/serial` for example. I have OpenOCD version 0.10.0 and am using `gdb-multiarch` version 8.2.1.

I normally press Ctrl-D to exit but using `q` or `quit` also works for me.

[2021-02-27 15:47] kenbell opened #1666 "Harmonize STM32 tick / sleep logic"
As part of discussion on #1608 it looks like the STM32 tick / sleep logic is diverged and has bugs.  This issue is to track the proposal to harmonize on a single implementation of tick/sleep for STM32 MCUs.

---

Taking a quick survey, there are two patterns:

### Algorithm 1

1. Set timer interrupt for at most 'd' (timer may not have resolution to wait for whole of 'd')
2. Wait for the timer inte

[2021-02-27 16:49] kenbell commented on #1366
This is what i see:
![openocd_stuck](https://user-images.githubusercontent.com/509378/109393812-a87d8700-78d8-11eb-8450-59b53329c5db.gif)

[2021-02-27 18:13] vidalouiswang commented on #1664
Hi,
I just noticed this project haven't any commit for long time, so want to know some information.

[2021-02-27 18:24] vidalouiswang commented on #1664
Thank you, I am a beginner.

[2021-02-27 18:27] #1664 closed, assigned to nobody

[2021-02-27 19:47] aykevl commented on #1662
What do you think of checking both? That avoids a flag the user would have to pass to debug something. For example, by making this a slice instead of a string and checking all commands:

https://github.com/tinygo-org/tinygo/blob/66f76833ad0ac1dd31befa3ecbd8c0d1e5bb5ca3/compileopts/target.go#L45

(There is [`exec.LookPath`](https://pkg.go.dev/os/exec#LookPath) to check whether a command exists).

[2021-02-27 20:10] aykevl commented on #1666
Overall, I agree with your proposal. Just a few remarks here and there.

Agreed. The more code that can be shared, the better (unless code sharing introduces additional complexity).

I have not checked the stm32, but usually an RTC uses less current than a timer. I know this is true on Nordic chips: the timers use many times more energy than the RTC. That's why I have used the RTC on Nordic chips.

[2021-02-27 20:13] aykevl commented on #1366
Weird.
I don't think killing the process right away is the appropriate solution. Perhaps killing it after a few milliseconds would be better? For example:

[code]

I cannot reproduce it locally so I'm not sure how to test such a fix.

[2021-02-27 22:00] deadprogram commented on #1568
I wonder if the change similar to https://github.com/tinygo-org/tinygo/commit/66f76833ad0ac1dd31befa3ecbd8c0d1e5bb5ca3 would address the issue I have with the stm32f405? Seems like a good chance it would.

[2021-02-27 22:41] deadprogram commented on #1568
OK I can confirm that now with https://github.com/tinygo-org/tinygo/commit/66f76833ad0ac1dd31befa3ecbd8c0d1e5bb5ca3 in the `dev` branch that if I add a `time.Sleep(100 * time.Millisecond)`  to the MPU6050 example as suggested by @kenbell this works:

[code]

[2021-02-28 02:47] sago35 commented on #1323
I don't have an AVR, so I haven't tried it, but I think the following is the easiest.
I think it needs to be added to tinygo-site.

[code]

[2021-02-28 03:04] sago35 commented on #1366
@aykevl
It worked well. (on windows 10)
I'll create a pull request later.

[2021-02-28 03:11] thushan commented on #1323
Agreed @sago35, will update doc site to reflect that.

[2021-02-28 03:35] sago35 commented on #1662
I think it's a very good idea.
I've created a pull request ( #1670 )

[2021-02-28 03:43] sago35 commented on #1662
@aykevl  @deadprogram
I' m also planning to create the following pull requests.
I hope to have them ready for TinyGo 0.17 if possible.

* Getting tinygo gdb to work on windows
    * #1670 : gdb: enable to specify multiple candidates for gdb
    * #1674 : Support daemonization
        * Now when I press Ctrl-C, openocd exits.
    * #1684 : fix `tinygo dbg (openocd) does not exit` #1366
    * #1685

[2021-02-28 06:43] hamidrezakks opened #1671 "WASM big int support"
Hi,

Well I've asked this in a comment, now I decided to issue it separately.

I get this error while using bigInt for cryptography purposes
[code]

Cloud you please check this out,
It seems WASI is using native JS big int,
Is it possible to resolve this within WASM built-ins?

Bests,
KK

[2021-02-28 08:18] deadprogram opened #1672 "Drop support for Go 1.11 and Go 1.12"
In the past we have had reasons for maintaining support for older versions. I think this was mostly because of the Go version in the package manager for LTS versions of Debian.

Now I wonder if we should just maintain the exact same support schedule as Go itself, plus one extra to accommodate that we are usually slightly lagging the release of new Go major versions.

If we do that, then it would m

[2021-02-28 11:14] Nerzal commented on #1672
I don't see any reason, why we should not just do it.
Even if package managers of any LTS versions of some derivates lag behind, Go can still be manually downloaded and installed, which is the way i update my Go version.

[2021-02-28 12:24] aykevl commented on #1672
Yes, agreed. Perhaps we can do this after the coming release?

[2021-02-28 22:22] kenbell commented on #1666
I've put up a draft PR to harmonize the logic.  On the whole I think it's pretty clean.

I decided against using RTC because that seems most valuable reserved for deep sleep states, using the RTC to hold wall time and/or using RTC alarms to awake from deep sleep.  Current use of RTC for 'ticks' prevents use in that way.

I need some advice about STM32L0.  The ARR field is 16-bit in `TIM_type` on t

[2021-02-28 22:53] deadprogram commented on #1672
We can do it after this next release. That probably means we will not be able to merge https://github.com/tinygo-org/tinygo/pull/1659 until the next release.

[2021-03-01 13:00] ofauchon commented on #1672
@Nerzal is right. Go is really to install locally and upgrade.
We don't see any reasons to continue supporting Go 1.11 and Go 1.12.
Move forward and go 1.13 !

[2021-03-01 22:35] fgsch opened #1675 "Testing non-browser specific WASM / WASI changes"
Related to https://github.com/tinygo-org/tinygo/pull/1661, and more in general, do you have any thoughts around testing without the browser? Is https://github.com/wasmerio/wasmer-go an option?  I'd be happy to take a look. Thanks!

[2021-03-02 00:00] deadprogram commented on #1672
I have started the process here https://github.com/tinygo-org/tinygo/commit/c450ec940358c5424417ace7751c7ca8d8d1d8a1

[2021-03-02 04:48] yaron2 commented on #1634
I'm getting the same thing with Go 1.15.

[2021-03-02 07:59] deadprogram commented on #1672
Not sure why the Go 1.11/LLVM 9 build has been failing: https://app.circleci.com/pipelines/github/tinygo-org/tinygo/4439/workflows/e778be24-c568-4776-a96b-2c6b4aaa94f4/jobs/24630

Perhaps we need to accelerate our plans here?

[2021-03-02 16:47] EX0l0N opened #1676 "Open aways fails on macOS"
I was trying to shrink a small binary I wrote using tinygo. Not sure if darwin / macOS is even a supported target for tinygo, I just did the same thing I would do on linux (not specifying any target architecture) and compiled.

I got a binary, but running it instantly failed with `Errno 78` while trying to read from `stdin`.

Trying to isolate the problem I wrote a small main func that only opens

[2021-03-02 22:34] fgsch commented on #1675
Another option I was not aware of, https://github.com/bytecodealliance/wasmtime-go.

[2021-03-03 06:58] deadprogram commented on #1559
Now that #1661 has been merged, can someone please re-test this issue against the `dev` branch? Thank you.

[2021-03-03 06:59] deadprogram commented on #1643
Now that #1661 has been merged, would it be possible to please re-test this issue against the `dev` branch? Thank you.

[2021-03-03 13:09] fgsch commented on #1643
@deadprogram I will take a look shortly.

Related question, do you know when the next release is going to be, and will it include #1661? Thanks!

[2021-03-03 23:47] deadprogram commented on #1676
Hello @EX0l0N please take a look at https://github.com/tinygo-org/tinygo/pull/1659 which should start to add some of the macOS support you are looking for.

[2021-03-03 23:51] deadprogram commented on #1643
@fgsch has already been merged into the `dev` branch, which means it will be included in the next release, which should go out anytime in the next few days.

[2021-03-03 23:58] andoks opened #1677 "Arduino MKR WAN 1310 support"
Would it be possible to make tinygo support the Arduino MKR WAN 1310 (and potentially more boards in the [MKR-series](https://store.arduino.cc/arduino/mkr-family))? It runs a SAMD21 Cortex®-M0+ 32bit low power ARM MCU.

Specification sheet can be found here: https://store.arduino.cc/mkr-wan-1310

[2021-03-04 08:26] fgsch commented on #1643
Confirmed. Revision dcff8b6 produces the expected imports.

[2021-03-04 08:28] fgsch commented on #1559
Confirmed. Revision dcff8b6 produces the expected imports.

[2021-03-04 08:34] fgsch opened #1678 "Document make wasi-libc"
This is not mentioned anywhere I can see. It would be a good idea to document it.

[2021-03-04 09:11] deadprogram commented on #1672
CircleCI build still failing, seeming because of something that is no longer available for download from LLVM for the specific set of other dependencies for LLVM v9.

via the LLVM site:

All the more reason to do this. I am starting to lean towards just doing it now.

[2021-03-04 11:02] deadprogram commented on #1643
I will close this once the code is actually released. Marked with label.

[2021-03-04 12:04] deadprogram commented on #1672
Looking at the CircleCI error log a little more closely:

[code]

I think the issue is that CircleCI needs to update their pre-built Docker image that we are using as a base, and that it is so old that they have not done so as part of their normal update process.

[2021-03-04 13:20] EX0l0N commented on #1676
I see… .

So this problem is really existing, know and there are people working on it.

Not need for this issue to be open then. thx @deadprogram .

[2021-03-04 13:20] #1676 closed, assigned to nobody

[2021-03-04 13:36] aykevl commented on #1678
Please take a look at https://github.com/tinygo-org/tinygo/pull/1679 which should make the error message a lot clearer and more helpful. For example, I got this error message after removing the libc:

[code]

That's a lot more helpful than a linker error.

[2021-03-04 13:37] aykevl commented on #1676
We do have some support for macOS, but definitely not full support. Especially I/O is something that's not yet well developed in TinyGo.

[2021-03-04 13:42] EX0l0N commented on #1676
That's fine. I was just curious if there is any support at all. Neither the term macOS, nor darwin show up somewhere in the official target list.

I was already surprised, that I could compile a simple hello world without specifying any cross target.

From time to time I will give it a try again and see where you're at.

[2021-03-04 13:43] aykevl commented on #1634
Can you give the code that triggers it so I can reproduce the issue?

[2021-03-04 13:55] fgsch commented on #1678
@aykevl I will take a look. Thank you.

Can we still document this step in the building instructions?

[2021-03-04 13:56] fgsch commented on #1643
@deadprogram ops, sorry about that!

[2021-03-04 14:01] aykevl commented on #1666
Isn't that exactly what `time.Sleep` should do? Set the chip to a low power state until it is ready to wake up.

The SVD file lists a 32-bit ARR register with a 16-bit ARR field. As far as I can see, gen-device-svd does exactly what it is supposed to do.

[2021-03-04 14:06] aykevl commented on #1671
Can you try adding `-tags=math_big_pure_go` to the command? I think it will fix this issue.

[2021-03-04 14:34] aykevl commented on #1678
Done: https://github.com/tinygo-org/tinygo-site/pull/150

[2021-03-04 15:29] fgsch commented on #1678
Re #1679, works as advertised. Thank you!

[2021-03-04 23:53] andoks opened #1683 "ESP32 WiFi support"
Same request as #1427 but for ESP32 :smiley:

Personally I would like to use tinygo with my Wemos Lolin 32 board; I am holding back on making a board support wish issue for that board for now, since I primarily want to use it for projects with WiFi connectivity.

[2021-03-04 23:57] aykevl commented on #1427
Update: compiler-rt and picolibc are now available. But many things are left to do.

[2021-03-05 00:10] sago35 commented on #1662
Once the aforementioned pull-request is merged, tinygo-gdb will work normally on Windows.

[2021-03-05 00:20] sago35 commented on #1662
I forgot to mention that I also need the following.

* #1397 : flash: add verify on openocd-flash

[2021-03-05 03:37] dkegel-fastly opened #1686 "map[string]uint64 generates incorrect wasm?"
Using
[code]

The innocent little program
[code]
works fine with non-tiny go or default tinygo, but fails if built and run like so:
[code]
I think it fails with another wasm runtime, too, so it kind of feels like a compiler bug.

[2021-03-05 08:58] leobragaz commented on #1634
https://github.com/desmos-labs/go-key-manager

[2021-03-05 11:15] tobiaskohlbau commented on #1427
@aykevl I've looked into this a few weeks ago. I've also compiled compiler-rt and picolibc without problems.  One _problem_ I ran into was that by the looks of it, at least the ESP32, does not have the ability to run without the RTOS. As far as I understand the current tinygo implementation does not leverage any of the RTOS based SDK. I've looked into options to link against some sort of libraries

[2021-03-05 11:23] aykevl commented on #1686
That's indeed a bad compiler bug. However, it seems to have been fixed with https://github.com/tinygo-org/tinygo/pull/1430 (tested with bisect) and I can no longer reproduce it on the dev branch. Can you try the dev branch?

[2021-03-05 11:26] aykevl commented on #1427
I think we can use the TinyGo scheduler as the RTOS, but I haven't looked into this yet. Using FreeRTOS in TinyGo would be very complicated.

[2021-03-05 11:50] tobiaskohlbau commented on #1427
Thats the point, embedding FreeRTOS into TinyGo is not the right path to enter. Espressif supplies some kind of libraries at https://github.com/espressif/esp32-wifi-lib/tree/master/esp32. On my first look this libraries also depend on FreeRTOS and their SDK. I was hoping to find some low level APIs, within the libraries, which allows interacting with the wifi system.

IMHO I would like to reuse as

[2021-03-05 11:54] aykevl commented on #1634
I have created a dummy package here: https://github.com/tinygo-org/tinygo/pull/1687

If you try it, you'll see that the next build failure is the lack of encoding/json support.

[2021-03-05 11:57] aykevl commented on #1427
It appears that RIOT has managed to run its RTOS on the ESP8266, with WiFi support: https://doc.riot-os.org/group__cpu__esp8266.html

I think we should look into how they do it.

[2021-03-05 11:59] tobiaskohlbau commented on #1427
Thanks for the reference!
I was not ware of the existence of riot. I've looked into micropython and low.js. Micropython uses the FreeRTOS from Espressif and low.js has the part about ESP32 not opensource.

[2021-03-05 12:31] aykevl commented on #1651
No. Some operations (such as sending to a channel) block. At the same time, an exported function called by JavaScript cannot block. Therefore it is not possible to do any blocking operations in an exported function.

That said, the error message is not very helpful and could be improved a lot to help users debug this issue (which is quite common).

[2021-03-05 13:13] aykevl commented on #1651
I have created a PR that will make the error a lot better: https://github.com/tinygo-org/tinygo/pull/1688

[2021-03-05 13:20] aykevl commented on #1646
This should be fixed in the latest dev branch, see https://github.com/tinygo-org/tinygo/pull/1567.

That said, please note that this is unsafe:

[code]

You are moving memory allocated in Go to outside Go. Therefore, the GC won't track it anymore and it might be freed at any time.

[2021-03-05 13:37] aykevl commented on #1648
It seems to me that the correct solution is #1647, which should be straightforward to fix.

[2021-03-05 13:42] aykevl commented on #1647
Please take a look here: https://github.com/tinygo-org/tinygo/pull/1690

[2021-03-05 13:55] Nerzal commented on #1651
We might want to add that to the documentation :+1:

Thanks for explaining and improving the error message!

[2021-03-05 13:59] Nerzal commented on #1651
If issues get automatically closed, when they have the "nextrelease" tag, this would be a candidate for that :)

[2021-03-05 14:56] hamidrezakks commented on #1671
Thanks, it fixed the big int issue, but I faced a new issue:
```syscall/js.finalizeRef not implemented```
I guess I need to wait for this feature

[2021-03-05 17:03] fgsch commented on #1647
Oh, I didn't see this and I worked on the change myself. Sorry!
There are a few more things my PR covers so I will open it and you can decide.

[2021-03-05 17:34] dkegel-fastly commented on #1633
I'm hitting this on mac os 10.15.7.

```brew install llvm@11```
reports
```llvm 11.1.0 is already installed and up-to-date.```

But llvm-gcc -v reports it is the apple version, despite /usr/local/opt/llvm/bin existing and being first on PATH, and clang -v reporting ```InstalledDir: /usr/local/opt/llvm@11/bin```.

Evidently ```brew install llvm``` installs llvm 11, but does not install llvm-gcc...?

[2021-03-05 17:35] dkegel-fastly commented on #1686
I tried to follow the instructions for building on mac os 10.15.7 with ```brew install llvm && go install```, but ran into https://github.com/tinygo-org/tinygo/issues/1633

[2021-03-05 17:41] aykevl commented on #1633
@dkegel-fastly `llvm-gcc` is entirely unrelated to TinyGo. TinyGo needs LLVM 11 from Homebrew, which can be installed with `brew install llvm@11`.

Can you check whether the directory `/usr/local/opt/llvm@11/include` exists and contains `clang-c/Index.h`?

[2021-03-05 17:42] aykevl commented on #1686
We'll have a release today.

[2021-03-05 18:30] dkegel-fastly commented on #1633
Yes:
[code]

Evidently ```brew install llvm@11``` is now a synonym for  ```brew install llvm```.

Glad to hear I was mistaken about llvm-gcc mattering.  I misread comments earlier in this issue.

[2021-03-05 18:45] aykevl commented on #1633
That's weird. Can you do some sanity checking?

* The Go version should be recent (`go version`)
* You should be using a recent version of TinyGo. In particular, cgo/libclang_config.go should have the line `#cgo darwin CFLAGS: -I/usr/local/opt/llvm@11/include`.

[2021-03-05 23:17] dkegel-fastly commented on #1633
Thank you.

I followed https://tinygo.org/getting-started/macos/ but assumed I would get the development (main / master) branch.

After doing
[code]
all was well, and I was able to build with ```go install```.

So, another case of user error, though maybe this one could be addressed by changing the words
```Start with getting the source code:``` in https://tinygo.org/getting-started/macos/ to ```S

[2021-03-05 23:23] dkegel-fastly commented on #1686
Well, poot.  After building tinygo with 'go install', I got:
[code]
guess maybe you don't get to use brew's llvm if you want wasm support?

[2021-03-05 23:25] aykevl commented on #1686
Have you tried running the command as suggested in the error message? WebAssembly should definitely work when using LLVM from Homebrew.

[2021-03-05 23:25] aykevl commented on #1686
(you may need to run `git submodule update --init` before it will work)

[2021-03-06 01:55] dkegel-fastly commented on #1686
When I tried, "make wasi-libc" failed with
```error: unable to create target: 'No available targets are compatible with triple "wasm32-unknown-wasi"'```
which meant I didn't have /usr/local/opt/llvm/bin first in my PATH.
After updating PATH, make succeeded.

However, the resulting tinygo compiler got a SIGSEGV:
[code]
Looks like go 1.15.3, https://github.com/golang/go/issues/42032.
I did ```brew u

[2021-03-06 07:59] rammanokar commented on #1587
any progress on this..?

[2021-03-06 11:27] #1518 closed, assigned to nobody

[2021-03-06 19:07] kenbell commented on #1666
At the very lowest power levels, RAM is powered down and can be limited to just a few wake-up sources, one of which is RTC:
![image](https://user-images.githubusercontent.com/509378/110217102-2c9ab600-7e67-11eb-8027-c270a4e0b52a.png)

To support timed wake-up from these power states, I think it's best to reserve RTC for that.  The semantics wouldn't match sleep since a bunch of re-initialization i

[2021-03-06 20:23] vshymanskyy opened #1694 "Wasm: Improve support of embedded systems with limited RAM"
The motivation about this request is the same, as described here: https://github.com/AssemblyScript/assemblyscript/issues/1089

Previously, we were using `-heap-size 4096` to limit the (physically) required amount of linear memory.
`-heap-size` was removed in #1567 , and now the default heap allocator is using the whole page (64KB) of memory.

P.S. Yes, TinyGo compiled to wasm can run on systems w

[2021-03-07 15:42] Nerzal opened #1696 "WASM: Dom - how to set an attribute without a value?"
Hi there,

Some HTML elements can have attributes, that do not have a value, like the `controls` attribute in the example below:

Example:

[code]

When i just try to set it using `Set("controls", nil)` it does not get set at all.
When i try to set it using a call to  "setAttribute" and hand in nil, it results in

[code]

When i try to use Set and hand in true, like in this example: https://www.w3

[2021-03-07 15:56] #1696 closed, assigned to nobody

[2021-03-07 18:22] aykevl commented on #1694
Actually, `-heap-size=4096` would have allocated 64kB of RAM because that's the page size of WebAssembly, so nothing has changed here. The only difference is that it can now grow beyond that instead of being limited to 64kB. Maybe it just appeared to work before because the application didn't allocate a lot of memory?

[2021-03-08 08:12] HarshCasper opened #1697 "Potential Bug Risks and Anti-Patterns"
## Description

Hi 👋

I ran DeepSource Static Code Analysis upon the Project, the results for which are available [here](https://deepsource.io/gh/HarshCasper/tinygo/).

The Static Code Analysis Tool found potential bugs and anti-patterns in the Code, that can be detrimental at a later point in time with respect to the Project. DeepSource helps you to automatically find and fix issues in your code

[2021-03-08 12:42] deadprogram commented on #1686
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:42] #1686 closed, assigned to nobody

[2021-03-08 12:42] deadprogram commented on #1678
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:42] #1678 closed, assigned to nobody

[2021-03-08 12:42] deadprogram commented on #1651
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:42] #1651 closed, assigned to nobody

[2021-03-08 12:43] deadprogram commented on #1643
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:43] #1643 closed, assigned to nobody

[2021-03-08 12:43] deadprogram commented on #1637
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:43] #1637 closed, assigned to nobody

[2021-03-08 12:43] deadprogram commented on #1619
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:43] #1619 closed, assigned to nobody

[2021-03-08 12:44] deadprogram commented on #1603
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:44] #1603 closed, assigned to nobody

[2021-03-08 12:44] deadprogram commented on #1575
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:44] #1575 closed, assigned to niaow

[2021-03-08 12:44] deadprogram commented on #1573
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:44] #1573 closed, assigned to nobody

[2021-03-08 12:45] deadprogram commented on #1570
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:45] #1570 closed, assigned to nobody

[2021-03-08 12:45] deadprogram commented on #1568
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:45] #1568 closed, assigned to nobody

[2021-03-08 12:45] deadprogram commented on #1551
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:45] #1551 closed, assigned to nobody

[2021-03-08 12:46] deadprogram commented on #1535
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:46] #1535 closed, assigned to nobody

[2021-03-08 12:46] deadprogram commented on #1533
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:46] #1533 closed, assigned to nobody

[2021-03-08 12:46] deadprogram commented on #1531
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:46] #1531 closed, assigned to nobody

[2021-03-08 12:47] deadprogram commented on #1530
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:47] #1530 closed, assigned to nobody

[2021-03-08 12:47] deadprogram commented on #1512
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:47] #1512 closed, assigned to nobody

[2021-03-08 12:48] deadprogram commented on #1504
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:48] #1504 closed, assigned to nobody

[2021-03-08 12:48] deadprogram commented on #1435
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:48] #1435 closed, assigned to nobody

[2021-03-08 12:48] deadprogram commented on #1408
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:48] #1408 closed, assigned to nobody

[2021-03-08 12:49] deadprogram commented on #1395
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:49] #1395 closed, assigned to nobody

[2021-03-08 12:49] deadprogram commented on #1351
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:49] #1351 closed, assigned to nobody

[2021-03-08 12:49] deadprogram commented on #1327
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:49] #1327 closed, assigned to nobody

[2021-03-08 12:50] deadprogram commented on #1279
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:50] #1279 closed, assigned to nobody

[2021-03-08 12:50] deadprogram commented on #1278
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:50] #1278 closed, assigned to nobody

[2021-03-08 12:50] deadprogram commented on #1147
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:50] #1147 closed, assigned to nobody

[2021-03-08 12:50] deadprogram commented on #1110
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:50] #1110 closed

[2021-03-08 12:51] deadprogram commented on #460
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:51] #460 closed

[2021-03-08 12:51] deadprogram commented on #437
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:51] #437 closed

[2021-03-08 12:51] deadprogram commented on #276
This has been released with v0.17.0 so now closing. Thanks!

[2021-03-08 12:51] #276 closed

[2021-03-08 16:46] ncw commented on #1352
go1.16 is out now with fully baked [embed](https://golang.org/pkg/embed/) support.

Now that tinygo 0.17.0 is released with go1.16 support I just noticed that this doesn't work when trying to compile a wasm binary.

It would be a great feature :-)

[2021-03-08 22:09] aykevl commented on #1697
All of this code is in fact used, but the analyzer is unable to see this. Therefore these are false positives.

There are two true positives, the other 124 issues are false positives: cgo/testdata contains test and test output files for the compiler and so should not be included in the analysis.

That's an interesting one. The two are semantically equivalent but are not currently optimized the sam

[2021-03-08 23:20] aykevl commented on #1686
I'm sorry you had to go through all of this :( It looks like you somehow managed to hit most of the MacOS issues you could have been hitting.

[2021-03-08 23:21] aykevl commented on #1633
Not sure about that one. It depends on what someone might want: the last release or the dev branch? Right now we assume people will want to build the latest release.

[2021-03-09 00:01] dkegel-sigsci commented on #1686
I knew the job was dangerous when I took it!

[2021-03-09 09:19] erazemk opened #1700 "Full support for Digispark (ATTiny85)"
I'm opening this issue because I want to work on adding full support for the Digispark board. From [the website](https://tinygo.org/microcontrollers/digispark/) I can see that only the GPIO pins are currently supported, so I want to help add support for everything else.

Since I have relatively little experience with programming microcontrollers I'd appreciate any help with where to start, but I w

[2021-03-09 10:56] rzr commented on #1602
net API is not yet supported according to:

 https://tinygo.org/lang-support/stdlib/#net

    # net
    /home/ron/.gvm/gos/go1.15/src/net/parse.go:80:12: st.ModTime undefined (type os.FileInfo has no field or method ModTime)

Relate-to: https://github.com/rzr/webthing-go/issues/4

[2021-03-09 16:20] trevor403 commented on #1672
Is the above PR ready to merge now that 0.17.0 has released?

[2021-03-09 16:45] aykevl commented on #1672
In my opinion, yes.

[2021-03-10 03:08] shelmesky opened #1702 "how to import global variable, not function."
just like this:

[code]

[2021-03-10 11:13] aykevl commented on #1702
WebAssembly does not natively allow this so you can't do this unfortunately. I think it would be possible to build a JavaScript shim that supports this using something like wasm-bindgen but this has not yet been implemented for TinyGo.

Alternatively, you could add this:

[code]

[2021-03-10 13:18] vshymanskyy commented on #1694
@aykevl sorry I got sick ;(
I'll need to dig into this further, but I'm pretty sure on `0.12.0` there was a difference between `-heap-size=4096` and, say `-heap-size=61440`.
Quick question: does the allocator try to put any internal markers or access memory on high addresses, maybe during the initialization?
I'll try to provide a backtrace with `0.17.0` ASAP

[2021-03-10 13:52] LaPingvino opened #1703 "Add arm64 release for Linux/.deb"
I use a Chromebook with Linux in its VM and it uses the ARM64 architecture. It would be very nice to be able to download a precompiled tinygo release for this.

[2021-03-10 13:54] aykevl commented on #1694
I'm pretty sure it did not, because it would round the number up to 64K bytes. A non-rounded number would not have been accepted by the WebAssembly linker.

Ah, I see. Yes, the first commit of https://github.com/tinygo-org/tinygo/pull/1567 moved the heap metadata from the start of the heap to the end of the heap. So I'm guessing it worked by accident before that PR because not much memory was allo

[2021-03-10 14:04] aykevl commented on #1703
Yes, that would be great but unfortunately CircleCI (where TinyGo is tested and release builds are built) does not have the necessary support. For more information: https://ideas.circleci.com/images/p/support-for-arm-based-docker-images

Hopefully we can support this in the near future, for now it is unfortunately not easily possible.

[2021-03-10 14:05] KaMeHb-UA opened #1704 "WASM: how to get real values of arguments?"
I'm trying to create simple bridge to js `fetch` function to be able to download resources from Internet.
I've created such methods as described at page https://tinygo.org/webassembly/webassembly/:
[code]
Next I've created method implementation in JS:
[code]
Looks pretty simple, just like at https://tinygo.org/webassembly/webassembly/, isn't it? But...
it shows me only numbers (pointers?) if I cal

[2021-03-10 14:30] LaPingvino commented on #1703
A recent update to that thread about 5 days ago suggests a usable preview should be available, and less than 24 hours ago seemingly that post has been further picked up.

[2021-03-10 14:43] vshymanskyy commented on #1694
Yes, I know we can run native code as well, but there are many different
use cases. In this case we have virtualuzation/SFI.
I'm sure the dummy heap allocator will work, and covers the most simple
cases. My question is, is there any way/will to make the heap size more
granular (or just limit it to a specific size). Minimal alignment/step of
1K would be great.

On Wed, 10 Mar 2021, 15:55 Ayke, <not

[2021-03-10 15:14] aykevl commented on #1703
Yes, that's for a raw system (no containers). I would very much prefer working in a container as is common in CircleCI, hopefully such support gets added in the near future (within a few months). That would mean less work towards CI and more towards other interesting things :)

[2021-03-10 15:15] LaPingvino commented on #1703
Probably good then to keep this up as a tracking issue and to show the need.

[2021-03-10 21:36] KaMeHb-UA commented on #1704
Ok, after some investigaton, I've found some interesting info:
each go's argument is represented by a few arguments in js. This means that the number of arguments to the js-function will be more than the number of arguments to the go-function.
As for one `string` there will be two args: pointer and length;
for `[]byte` there will be three args; and for `func([]byte, error)` I've got four args.
Bes

[2021-03-11 00:17] aykevl commented on #1700
That would be great!
Is there something you would like to work on? (Asking because some APIs might soon change, such as PWM).

[2021-03-11 03:50] #1702 closed, assigned to nobody

[2021-03-11 07:32] erazemk commented on #1700
Nothing specific, but I can start with UART.

[2021-03-11 08:14] erazemk commented on #1700
The Digispark [boards.txt](https://github.com/digistump/DigistumpArduino/blob/111396ffe5163c3613b9315cbea1a3eabc9ba6dc/digistump-avr/boards.txt#L16) file says the default frequency for the Digispark board is 16.5mhz (which is also confirmed if checked in the Arduino IDE), but TinyGo's [board_digispark.go](https://github.com/tinygo-org/tinygo/blob/138befd8a25d2a5c65e2e740038a8c3a44e95222/src/machin

[2021-03-11 17:40] aykevl commented on #1658
Apparently I did not really understand the issue.

It looks like GoLand then also passes this cached GOROOT on to TinyGo, which expects the root of the Go installation instead of this cached GOROOT. See my comment on #1705 for more details.
This is indeed a bug. I could say that GoLand shouldn't pass on this GOROOT but that's actually sensible behavior. Instead, I think TinyGo should recognize thi

[2021-03-11 17:44] aykevl opened #1706 "TinyGo does not work with Go installed from Snap"
Some people are reporting TinyGo does not work with Go installed from Snap.

See: https://github.com/tinygo-org/tinygo/issues/433#issuecomment-671953170

[2021-03-11 17:45] aykevl commented on #433
The issue with Go installed from snap must be a different issue. Closing this, see #1706 for the Snap incompatibility.

[2021-03-11 17:45] #433 closed

[2021-03-11 18:12] aykevl commented on #1706
Can someone (who runs Ubuntu and has Go installed from Snap) please share the output of the following commands?

[code]

[2021-03-12 16:51] aykevl commented on #1624
Here is a fix: https://github.com/tinygo-org/tinygo/pull/1708

[2021-03-13 08:44] rsjethani commented on #1512
Yes, I confirm my device works with the 0.17 release , thank you guys!

[2021-03-13 11:16] Nerzal commented on #1706
Just installed snap version :)

To everyone reading this: i do not recommend using the Go snap installation, even for normal use. I had lots of problems with this and recommend to just install Go using download and unzipping method, like it is described on the Go website.

[code]

Note:
I have added tinygo to the gopath as a dirty hack for GOPATH mode usage.
GOPRIVATE was also set manually by me t

[2021-03-13 16:56] kenbell commented on #1666
For now, I've resolved the ARR type differences by having a type alias that is either uint32 or uint16, defined per MCU.

If possible, i'd like to get this merged fairly soon so it has a long time to 'soak' in dev since it changes a critical part of all the code for all STM32 MCUs

[2021-03-13 22:04] kenbell commented on #1666
I've hooked up a multi-meter to a bluepill (stm32f103).  Using blinky1 example, both the dev branch (using RTC) and this branch (using timer) pull the same power as far as I can tell, ranging 15mA - 17mA, so I'm not seeing a significant difference in power draw. (at least that my kit is able to measure)

[2021-03-13 23:23] aykevl commented on #1706
Thank you!
Is `/snap/bin/go` maybe a symlink to `/snap/go/7013/bin/go`? Is `/snap/go/7013` accessible from outside the snap package? TinyGo needs to find the actual GOROOT somehow, if you know how to do that you could see whether it is fixable here:

https://github.com/tinygo-org/tinygo/blob/138befd8a25d2a5c65e2e740038a8c3a44e95222/goenv/goenv.go#L151-L161

I'd have to install a VM to test this, w

[2021-03-14 01:19] sago35 opened #1713 "targets/qtpy: incorrect volume name for UF2 mass storage device (MSD)"
I got the QTPy, but the volume name is different

I tried the following two bootloaders, but both had `QTPY_BOOT` instead of `QTPYBOOT`.

Is there a version where the Volume Name is  `QTPYBOOT` ?
In that case, we might want to extend the JSON to make multiple choices.

[code]

[code]

It seems to be `QTPY_BOOT` , at least in the latest bootloader.
https://github.com/adafruit/uf2-samdx1/blob/master

[2021-03-14 11:36] deadprogram commented on #1713
We should change to `QTPY_BOOT` I think that was error on my part.

[2021-03-14 12:35] sago35 commented on #1713
OK.
I'll create a PR later.

[2021-03-14 15:15] Nerzal commented on #1706
I'll need some days, as I'm a bit busy, with another project, but then i could check that out, yes.
It does not seem to be too complicated, so i might just come up with a PR :)

I guess its easier if someone with Ubuntu installed just does this, as I could directly test the change on my system :)

[2021-03-14 15:41] kenbell opened #1716 "Proposal: Provide persistence in RAM and Flash across low-power and reset states"
I've been thinking about how to support super-low power states in TinyGo, and I think there are two interesting cases:

1. CPU core and peripherals powered off, but RAM still powered
2. CPU core, peripherals and RAM powered off

Various chips (I'm most aware of the STM32 line) support entering sleep states like these, being woken on specific GPIO pins, RTC alarms, and similar.  In order to support

[2021-03-14 15:47] kenbell commented on #1716
Example output of the example app
[code]

[2021-03-14 18:06] kenbell commented on #1224
FYI - this seems to be fixed.  This works on latest dev, with the code above
[code]

[2021-03-14 18:10] kenbell commented on #1199
FYI - current status:
[code]

[2021-03-14 21:19] aykevl commented on #1199
I have a fix here: https://github.com/tinygo-org/tinygo/pull/1689

[2021-03-14 21:21] aykevl commented on #1224
This was probably fixed as part of #1430.

[2021-03-14 21:38] deadprogram commented on #1224
OK closing. Please reopen if needed.

[2021-03-14 21:38] #1224 closed, assigned to nobody

[2021-03-14 21:39] aykevl commented on #1716
There is actually a third category: the ESP32 chip has a special low-power RAM area. In deep sleep, almost the entire chip is powered off except for a small RTC area (that's actually much more than just an RTC and also includes a small low-power CPU core).

[2021-03-14 21:52] aykevl commented on #1716
This is an interesting idea, but there are a few subtleties around it. Also, I have a few questions.

So I guess the difference with a regular sleep (`time.Sleep`) is that all peripherals are also powered down and are reset?
I think this would make programming much harder. If it is possible to somehow power down peripherals but retain their state (AFAIK this is usually possible) that would be much

[2021-03-14 22:34] aykevl commented on #1706
That would be great! But take your time.

[2021-03-14 23:09] kenbell commented on #1716
The way I'm thinking of using RAM for logging is something like this...

[code]

So this would very much just be one building block - but enables code that is hopefully very chip agnostic.

I think if something like this is added to TinyGo, it should not be made use-case specific and should be as generic as possible.  I'm sure there's a bunch of other use-cases for having persistent RAM regions.

[2021-03-15 05:36] kenbell commented on #1716
I've updated the branch to use `//go:persist` pragma.  It's a much, much cleaner implementation.

At the moment, it doesn't do any type validation.  Since the initializer is not actually run, it's definitely not safe to use pointers - thinking that it would make sense to limit it to built-in types and arrays of built-in types.

Updating the 'example' of how this might be used:
[code]

[2021-03-15 13:43] fgsch commented on #1559
@deadprogram not sure if you are waiting for the reporter or someone else to test this but in my tests this is fixed.

[2021-03-15 14:00] fgsch commented on #1671
I think this is a dup of #1140 at this point.

[2021-03-15 15:10] fgsch commented on #1648
@aykevl Agreed. Let's close this one.

[2021-03-15 15:25] ricardojlrufino opened #1722 "Docker install drivers neeed custom commands"
Using docker i need change some things to make work
Install drivers using:

To work, i need move directories:

Then a use example: https://github.com/tinygo-org/tinygo-zoo
make build-arduino-colorlamp

Did I do something wrong? why doesn't he install the drivers in the correct location?

[2021-03-15 15:38] aykevl commented on #1722
I have little experience with Docker (maybe someone else can help?), but you're passing the `--rm` flag. I think that will remove the container after you've used it, so maybe you can remove it?

[2021-03-15 19:19] ricardojlrufino commented on #1722
yes, i need only mounted path: "-v "/go:/gohost"
the libraries are saved but it looks like in a different folder structure
I know little about GO, but maybe it's related to the package model? GO111MODULE = on

[2021-03-16 04:34] HasmitaA opened #1723 "Support for crypto/rsa library"
Is there any alternative to crypto/rsa package for jwt verification functionalities

[2021-03-17 13:50] sago35 opened #1725 "How do I place a variable at a specified address?"
I am using atsame54.
I need to put the Message RAM for CAN at 0x20000000 to 0x2000FFFF, but I don't know how.
Fortunately, I don't use much RAM at the moment, so I happen to have it in the right place.

I would like to know if there is a way to do this.

P.1176
https://cdn-learn.adafruit.com/assets/assets/000/097/530/original/SAM_D5xE5x_Family_Data_Sheet_DS60001507F.pdf

[2021-03-17 15:28] deadprogram commented on #1725
I think something like this is what you are looking for?

https://github.com/tinygo-org/tinygo/blob/release/src/runtime/runtime_atsamd21.go#L49-L62

[2021-03-17 17:17] aykevl commented on #1725
No, this needs to be done through the linker script.
@sago35 would it be good enough if the memory was statically allocated (as a global)?

[2021-03-18 05:01] kenbell commented on #1716
My latest evolution of the prototype creates a memory region `PRAM` on most chips this is aliased to RAM, on the STM32L5 it's configured to be SRAM2 (64KB), which can be left powered in low-power states.  On the ESP32 it uses the RTC FAST RAM (8KB).

[2021-03-18 06:48] deadprogram commented on #1559
Thanks @fgsch just tagged with label for next release, at which point it will get closed.

[2021-03-18 12:07] fgsch commented on #1559
@deadprogram ok. fwiw, the fix is already included in 0.17.0.

[2021-03-18 13:08] deadprogram commented on #1559
AH, in that case, closing. Thanks for clarifying that @fgsch

[2021-03-18 13:08] #1559 closed, assigned to nobody

[2021-03-19 10:36] aykevl commented on #1282
This error (`interp: unknown GEP`) is fixed with https://github.com/tinygo-org/tinygo/pull/1430, which is merged and part of the latest release.

[2021-03-19 20:41] ski7777 commented on #1075
Any update on this?

[2021-03-20 00:49] GTANAdam commented on #1075
Unfortunately not, I have decided that writing code for MIPS based embedded devices is much better done via C/C++.
I haven't had the time to figure it out, if one could provide some examples on passing 5+ arguments via stack for syscalls then I could probably try it out again.

[2021-03-21 18:24] soypat opened #1737 "Arduino Mega 2560's SPI MISO/MOSI Flipped"
[The lines in question](https://github.com/tinygo-org/tinygo/blob/release/src/machine/machine_atmega2560.go#L136).
`sdi` and `sdo` seem to be flipped.

It would seem that the correct way of arranging `SPI0` according to [arduino's documentation](https://www.arduino.cc/en/reference/SPI) would be the following

[code]

I've tested both ways, the second one seems to actually work.

[2021-03-22 12:50] deadprogram commented on #1523
Hello @hyprnick the STM32L432 is just about to land in the TinyGo `dev` branch:

https://github.com/tinygo-org/tinygo/pull/1710

[2021-03-22 15:48] nick-phillips-dev commented on #1523
Thanks for the update @deadprogram ! That's great to hear. I will check it out.

[2021-03-23 00:23] wbourne0 commented on #1154
I think everything in the original issue has been resolved, so closing.

[2021-03-23 00:23] #1154 closed, assigned to nobody

[2021-03-23 23:18] soypat commented on #1737
If someone can get around to testing the Arduino Mega that'd be great. I couldn't get the SPI to work for the life of me.

[2021-03-24 09:05] deadprogram commented on #1415
Just wondering if this has now been addressed in the latest `dev` branch?

[2021-03-24 11:28] aykevl commented on #1415
No. The chance of it happening is slightly reduced (when printing error types) but the core issue is not fixed.

[2021-03-24 14:38] ewwaller opened #1740 "go subcommand 'flash' default path for UF2"
The 'flash' subcommand of 'go' seems to assume that the UF2 devices, after resetting to the boot loader, will be mounted under /media,  On Arch Linux, with systemd running Gnome or Plasma desktops,  the device is mounted at /run/mount/[username]/.  I assume that this holds true for other distributions that  use the notion of sessions.

I would suggest either the ability to provide a hint as to the

[2021-03-25 00:13] aykevl commented on #285
This has finally been implemented, in #1612! It only took me two years to get to this point :sweat_smile:

There are many things that are still left to do, but right now TinyGo compiles packages in parallel and caches the result. This provides a small performance benefit. There are many more optimizations possible:

  * An easy one is doing most of the interp work per package. I already have a loc

[2021-03-25 01:21] mewmew commented on #285
Yay! That's great. Thanks for working on this @aykevl, it will definitely be useful and also open up new use cases for TinyGo.

Wish you as always happy hacking and the best of springs!

Cheerful regards,
Robin

[2021-03-25 06:56] deadprogram commented on #285
I will reopen to tag for next release, then close after it is released.

[2021-03-26 22:00] ewwaller opened #1747 "Error mapping of registers for in-line asm"
I think this is a bug in the way inline assembly is processed.  I have some code that works properly with the _-opt 1_ flag, but does not work with the default optimization.  The following minimized example includes code from the ws2812 driver.  Running on a Adafruit Feather M4, this code displays increasing brightness of red, then green, then blue on the smart LED on that board (AKA Neopixel)

Th

[2021-03-26 22:42] aykevl commented on #1747
I can confirm the issue. I think the issue is that `maskSet`, `maskClear` and `i` are all the constant 8 and the optimizer recognizes this and puts them all in the same register. That would be fine, if the values were indeed treated as constants. But while `maskSet` and `maskClear` are constant (and merging them is a good idea), `i` is not. This leads to the miscompilation.

Right now the inline a

[2021-03-26 22:43] aykevl commented on #1747
Also, I just want to say thank you for this super helpful bug report. It's a very clear description of the problem, with a reduced code sample even. It makes finding the bug a whole lot easier :)

[2021-03-26 23:12] ewwaller commented on #1747
Thanks, and my pleasure.   I am new to go, but have spent my professional career with microcontrollers and embedded systems.  I am new to go, but am increasingly excited about tinygo.

[2021-03-27 00:25] Nerzal opened #1748 "Windows: tinygo test should show a useful error message"
When running tinygo test <packagename> on Windows without specifying a target, it will print a very long error telling the user, that lots of stuff could not be found.

Instead, we can add a nice error message, that tells the user, that they can try to use targets like `--target=wasi` or `--target=wasm` etc.

I'll should be able to submit a PR with a first throw of that error message :)

[2021-03-27 02:05] soypat commented on #1737
I have gotten around to testing the Arduino Mega's SPI with the MCP3008 library.

The following setup worked for me:
* Use TinyGo library without modification (works fine right now)
* Connecting Pin 51 to MCP3008 `Din` (MOSI)
* Connecting Pin 50 to MCP3008 `Dout` (MISO)
* Connecting Pin 53 to MCP3008 `CS` (Chip select)
* Connecting Pin 52 to MCP3008 `CLK` (Serial clock)
`machine.D51` is equal to `

[2021-03-27 06:23] hajimehoshi commented on #1304
Any updates?

[2021-03-27 10:39] aykevl commented on #1304
The "fragment covers entire variable" error is indeed a bug in TinyGo and is not related to #1518. I will have to look into it. It's a bug in how debug info for function parameters is generated.

Edit: ah but the error from @Xuereb is indeed #1518 and should now be fixed.

[2021-03-27 10:47] hajimehoshi commented on #1304
Sure, thank you for responding! I'll recheck this.

[2021-03-27 10:51] hajimehoshi commented on #1304
I retried the compiling.

[code]

Does this mean some of the standard library don't work? Then I'll try to fix this by not depending on these libraries.

The first issue has been resolved anyway. Thank you very much!

[2021-03-27 15:43] kenbell opened #1750 "Proposal: stm32: move oscillator + pll config to machine package"
### Problem

Currently, the pattern for STM32 MCUs is to do the oscillator and PLL configuration in the `runtime` package.  This is causing a few issues:

1. Declaration of magic values separate from the code that initializes the system frequency, e.g.: https://github.com/tinygo-org/tinygo/blob/dev/src/machine/machine_stm32l0.go#L13
2. Lack of access to tick counter in machine package, leading to

[2021-03-28 11:55] #1648 closed, assigned to nobody

[2021-03-28 11:58] deadprogram commented on #1189
Now closing as mentioned in previous comment. Please reopen if needed. Thanks.

[2021-03-28 11:58] #1189 closed, assigned to nobody

[2021-03-28 13:18] jsimnz commented on #447
Just wanted to give a heads up. My tests have found that https://github.com/valyala/fastjson compiles successfully and runs with the TinyGo compiler targeting WASM/WASI.

[2021-03-28 13:18] aykevl commented on #1304
Yes, exactly.

Note that the "fragment covers entire variable" bug isn't fixed yet (you're just seeing a different error now), I have fixed it in this PR: https://github.com/tinygo-org/tinygo/pull/1752

[2021-03-28 21:56] deadprogram commented on #1737
We try to follow the guidelines of the Open Source Hardware Association regarding naming of pins in the SPI interface.

Please see:
https://www.oshwa.org/a-resolution-to-redefine-spi-signal-names/

Thank you!

[2021-03-29 08:29] sago35 opened #1756 "cmd.exe and bash.exe have different build results on Windows"
bash: (GNU bash, version 4.4.23(1)-release-(x86_64-pc-msys) + git version 2.30.2.windows.1)
[code]

cmd.exe:
[code]

The difference in `make smoketest` is in the following commands.

[code]

[2021-03-29 08:30] sago35 commented on #1756
Please let me know if there is anything I should do in order to find out.

[2021-03-29 08:53] sago35 commented on #1756
On ubuntu20.04, the results did not match either of the windows results.

[code]

[2021-03-29 12:16] sago35 opened #1757 "Cannot flash pca10059 in windows environment"
windows does not use `/bin/sh`, so the flash-command `&&` in pca10059.json is not processed.
The following are some ideas for solutions, but basically, I think 1 is better.

1. Set `flash-command` to `[]string`
2. Split commands with `&&`
3. Handle it with `sh.exe`
    * However, `sh.exe` is not available for windows, so it will need to be installed separately.
    * Also, in order to be handled b

[2021-03-29 20:26] aykevl commented on #1756
You can check the `env` subcommand, some environment variables might be different between the shells.

Also, I see that the `version` command does not use the correct command. For example, here:

[code]

In the first you are running `tinygo`, in the second you are running `c:/tinygo/tinygo/build/tinygo`. These might be different. Try running `c:/tinygo/tinygo/build/tinygo version`, for example.

[2021-03-29 20:28] aykevl commented on #1756
You are using a different Go version there: go1.15.10 instead of go1.16.

[2021-03-29 23:36] aykevl commented on #1304
The PR is merged, so the "fragment covers entire variable" assert will be fixed in the next release.

[2021-03-29 23:53] aykevl commented on #1757
Yes, using `flash-command` like this is a bad idea. It is very non-portable.

Instead, I would suggest adding a new binary format. Take a look here:

https://github.com/tinygo-org/tinygo/blob/8d93b9e54592a0069b7ea3a993b5fa0a0ed3fde3/builder/build.go#L553-L560

You can add a new binary format (for example, `"nrf-dfu"`) that is created by running `nrfutil`. This also avoids writing to `/tmp` as it c

[2021-03-30 00:56] hajimehoshi commented on #1304
BTW, I could not find the dependency on `filepath/path` from Ebiten. Probably this is used in a third party library. Would it be possible to enable to use `filepath/path` with TinyGo? This is a very common library and is hard to remove all usages from all the dependencies.

[2021-03-30 02:48] eihigh commented on #1304
How about tinygo using Go1.15? `fs.FileMode` is included in `io/fs` that was introduced in Go1.16.

[2021-03-30 05:43] oflebbe commented on #1757
thanks @sago35 for reporting, using a shell concat for flashing was a bad idea (tm). Thanks @aykevl for the suggestion, since I didn't respond in time asking myself how to fix the problem. There will be some questions on the way.

[2021-03-30 09:51] sago35 commented on #1756
It seems that my environment was not good. I tried again, and the files matched.

[code]

[code]

[2021-03-30 09:52] #1756 closed, assigned to nobody

[2021-03-30 10:13] sago35 commented on #1725
yes.
In this case, it is enough to place only global variables.

It might also be possible to do it this way.
Either way, you need to change the linker script so that no other RAM is placed between 0x20000000 and 0x2000FFFF.

[2021-03-30 12:46] aykevl commented on #1725
Please take a look here: https://github.com/tinygo-org/tinygo/pull/1759

It allows setting the section name of a global. With this and a small change to the linker script, you can place these special globals in the first 64kB of RAM.

[2021-03-30 13:33] aykevl commented on #1304
Probably, given enough time. Feel free to help by making the os package more complete :)

[2021-03-30 19:07] soypat opened #1760 "Arduino Uno PWM frequency too high"
As of TinyGo 0.17, Arduino Uno's PWM on pin 10 runs at 3922 Hz.This makes it unsuitable to control actuators such as Servos which usually rely on a pulse width of around 3-0.5ms.

Arduino's official documentation puts PWM frequency at 490 Hz and 980Hz, depending on the pin used.

My measurements on an oscilloscope put frequencies at:

* D10: 3922Hz
* D6: 490Hz (should be 980 according to Arduino)

[2021-03-30 19:17] aykevl commented on #1760
This will be solved in the future with #1121, which will let you control PWM frequency.

There is not one frequency that's best in all cases, it depends on what you use the PWM for. Therefore, #1121 will make it possible to configure each PWM peripheral individually.

[2021-03-31 15:47] veeableful opened #1761 "Unable to use bufio.Scanner on linux/amd64 and darwin/amd64"
Hi, I was not able to run a program that uses `bufio.Scanner` successfully. It returns the following errors:

linux/amd64
[code]
darwin/amd64 (running on M1)
[code]

The code is the following:
[code]

Then I build and run the program with:
[code]

The TinyGo versions are:

linux/amd64
[code]

darwin/amd64
[code]

Does anyone know why? I tried looking for similar issue but there doesn't seem to be

[2021-03-31 16:56] soypat opened #1762 "nodemcu (Amica with ESP8266MOD) examples/blinky1 not working"
Tried following the instructions to flash blinky1 at [https://tinygo.org/microcontrollers/esp8266-nodemcu/](https://tinygo.org/microcontrollers/esp8266-nodemcu/).

Light was initially blinking before flashing tinygo program (I believe they come with a factory loaded blinky). After flashing the light stayed off

## Output
[code]

## Installation information
<details><summary>Go install</summary>

[

[2021-04-02 09:04] dmlambea commented on #1706
I've been successfully using TinyGo with Go installed from Snap for a while. Since it might be my setup and I currently have time to send you the information you requested for helping the others, here it is:

[code]

[code]

[code]

[code]

[code]

[code]

Hope it helps. If you need anything else I can provide, just ask.

[2021-04-02 09:53] oflebbe commented on #1706
Is tinygo supported to be used with gccgo?

[2021-04-02 10:27] Nerzal commented on #1706
@dmlambea yes, it helps! It is another indicator, that the PR i opened should fix the issue :)
As the go root points to /snap/go/current, which simply is a link to the current install of go

[2021-04-02 15:07] jsimnz opened #1764 "Exported WASM function can't use time package effectively"
Do to the limitation on async functionality in exported functions (as discuessed [here](https://github.com/tinygo-org/tinygo/issues/1651)), much of the standard library `time` package can't be used.

Here's as basic example
[code]

Trying to build this program with the following: `tinygo build -o main.wasm main.go`
returns the following error:
[code]

Much of this stems from the time package tryin

[2021-04-02 16:51] deadprogram opened #1765 "compiler: regression failure for build on Adafruit Clue demo with ST7789 display"
A regression bug was introduced with e2f532709f97b37575d4216c9605323221b63b93 as determined using `git bisect`:

[code]

The code was that I used in my FOSDEM 2021 talk on the Adafruit Clue:
https://github.com/deadprogram/fosdem-2021/blob/main/demo/scanner-ble/main.go

[2021-04-02 16:53] kenbell commented on #1765
I've seen some 'odd' stuff - but went away with `tinygo clean`.  Possibly a cache invalidation issue?

[2021-04-02 16:57] aykevl commented on #1765
I can reproduce this issue, but with a different error:

[code]

[2021-04-02 19:48] ewwaller commented on #1747
Edit:  Never mind,  Split the function to a *.c file, created a .h file, and included the .h instead of the function.   That linked, and is cleaner

-------------------------

Original post: :

I have been playing with this, and have hit a roadblock with CGo and could use some help getting back on the tracks.

Here is my code for the ws2812 driver:

[code]

but, I get this when I build it:

[code]

[2021-04-02 22:57] aykevl commented on #1765
Apparently there is a bug in the interface lowering pass. I'll need to dig a bit deeper to find out.

I have a LLVM build with assertions enabled, which is convenient to find such bugs. In this case it's triggered in the interface lowering pass (but it's possible the bug is actually somewhere else).

[2021-04-04 14:03] aykevl commented on #1765
~@deadprogram can you maybe try this patch? It works for me to get it to compile again. I'll write a more proper patch soon, this is just to verify I am fixing the right bug.~

[code]

[2021-04-04 14:42] aykevl commented on #1765
I have a fix here: https://github.com/tinygo-org/tinygo/pull/1768

[2021-04-04 20:33] FrankReh opened #1769 "wasm: process.exit called in all Exit cases"
File: targets/wasm_exec.js.

Run the TinyGo wasm in a browser where the binary is designed to call os.Exit and an exception stating 'global.process.exit is not a function' is raised.

This is because the "syscall.Exit" js glue tests whether global.process is truthy before calling process.exit(code) but there is a polyfill earlier in the same file that guarantees a global.process will exist but an

[2021-04-05 21:19] aykevl commented on #1765
This was merged in #1768.

[2021-04-05 22:37] jfcg opened #1772 "Unable to utilize multiple cpu cores on Linux/amd64"
On Manjaro Linux (intel i5 64-bit cpu, Go `1.16.3`, clang `11.1`), tinygo (package `0.17.0-1`) cannot utilize multiple cpu cores.

runtime.GOMAXPROCS() is empty, GOMAXPROCS env var seems ineffective.

Is there a plan to support [concurrency](https://tinygo.org/lang-support/#concurrency) on [`Linux/amd64`](https://tinygo.org/linux/)?

[2021-04-05 23:12] aykevl commented on #1772
Eventually we'll want to support parallelism, yes. It has not been a priority so far as the main supported targets (microcontrollers and WebAssembly) don't really support parallelism and Linux support is mostly there for convenience of testing.

Note that _concurrency_ is fully supported, but as if GOMAXPROCS was forced to 1. That means you can run multiple coroutines, they just won't run at the s

[2021-04-06 13:39] sago35 commented on #1762
If you have a schematic, please let me know the URL.

Is the result the same if I try using other pins?
You can set the other pins to output settings as follows

https://github.com/tinygo-org/tinygo/blob/release/src/examples/blinky1/blinky1.go#L11

[code]

A list of pins can be found below
https://github.com/tinygo-org/tinygo/blob/release/src/machine/board_nodemcu.go#L9-L17

[2021-04-06 19:27] en-v opened #1776 "TinyGo, TCP/UDP, Linux"
Hi there!
I want to create an application for a Linux-based IP-camera with TinyGo but I found that TinyGo doesn't support the "net" package. How can I get access to TCP/UDP data-transmission with TinyGo? I have only two ideas (CGO and "netcat" piping) but it looks like crutches ((

UPD: the "netcat" piping is impossible because the "os/exec" package doesn't supported too.

[2021-04-06 23:54] rogchap opened #1778 "Executable not declared by package os"
`os.Execuatable()` is missing from the `os` package

https://golang.org/src/os/executable.go

My particular error is caused by the `protobuf` package here: https://github.com/protocolbuffers/protobuf-go/blob/v1.26.0/internal/detrand/rand.go#L42

[2021-04-07 00:37] soypat commented on #1762
I'll check as soon as I get my hands back on a nodemcu. This is the board https://www.luisllamas.es/esp8266-nodemcu/

[2021-04-07 20:09] OneOfOne commented on #1764
I just use `time.Now().UTC().XXX()` mostly

[2021-04-07 21:42] jsimnz commented on #1764
Unfortunately, that doesn't fix the issue.

LIke I mentioned, you can manually set the timezone location using your indicated method (`time.Now().UTC().XXX`), or using `time.Now().In(Time.UTC)` as I posted, and the result is the same.

Even if the runtime doesn't _actually_ need to do the timezone location lookup, its a _potential_ code branch, and the tinygo compiler complains all the same.

[2021-04-07 21:45] jsimnz commented on #1764
As seen here, trying to compile this program (with the suggested change), still produces the exported async compiler error
[code]

[2021-04-08 17:07] mohamadpk opened #1781 "Support for building binaries targeting Windows"
a one question.can compile for x86 or x64 embedded machine? like may car ecu .  ;)

[2021-04-08 17:37] aykevl commented on #1781
TinyGo already supports Linux on x86 and amd64, simply set `GOARCH` when compiling on Linux like you would do with regular Go. For details, see: https://tinygo.org/linux/

What kind of system would you like to target? Is it a small embedded Linux system or something else?

[2021-04-09 15:29] deadprogram commented on #1765
Reopening until next release.

[2021-04-09 16:35] deadprogram commented on #1045
This is now in the `dev` branch and will be included in the next release.

[2021-04-10 05:15] mohamadpk commented on #1781
tnx for your feedback.it is exact Linux.you saved my ass . but why not support windows embedded?

[2021-04-10 08:09] wuhanstudio commented on #1762
I have the same issue, but it has been fixed by changing:

https://github.com/tinygo-org/tinygo/blob/138befd8a25d2a5c65e2e740038a8c3a44e95222/targets/esp8266.json#L19

For windows:

[code]

For Linux:

[code]

Maybe it's better to add an argument for flashing mode.

[2021-04-10 16:58] ntthang-dev-zz opened #1784 "Can I use TinyGo for the ATmega328 chip?"
I see TinyGo has support for *microcontroller programming* with *ATmega328p* chip for *Ardunio Uno*. 😀
Currently if I want to use TinyGo for *Ardunio Uno R3* with *ATmega328* 👨‍💻 chip is it okay and if it makes any difference in performance or way it works 🤔 and how will I have to do that 😣 I would like to thank 😋 !

[2021-04-10 22:18] #1737 closed, assigned to nobody

[2021-04-10 22:22] soypat commented on #1784
Yes! There should be no problem. You can find some examples here:
* At the [tinygo repo](https://github.com/tinygo-org/tinygo/tree/release/src/examples)
* I've been working on some examples specifically tailored for Arduino users [here](https://github.com/soypat/tinygo-arduino-examples)

[2021-04-10 22:55] kenbell opened #1785 "Support SPI on STM32 L4 series"
Some SVD patches are needed to get the same symbolic constants available as other platforms.  Have raised https://github.com/stm32-rs/stm32-rs/pull/535

Once SVD patches are merged, I'll update the stm32-svd repo

[2021-04-10 23:43] kurtmc commented on #1587
I just received a couple of these boards and I am keen to help out getting tinygo working. I am not really familiar with the process of adding new boards but I am happy to checkout forks and test them.

@jeffmhastings I have checked out your branch and managed to get the blinky example going, nice work!

I have noticed that `putchar` is not implemented yet (https://github.com/jeffmhastings/tinygo/

[2021-04-11 00:06] aykevl commented on #1765
https://github.com/tinygo-org/tinygo/commit/e2f532709f97b37575d4216c9605323221b63b93 is not in the release branch, so I believe this bug can be closed.

[2021-04-11 00:11] kenbell commented on #1587
I've got a couple (pico and an Adafruit RP2040 feather) - will take a look if no-one gets there first.  Waiting on FedEx to deliver me a J-Link though.  In my experience SWD and a logic analyzer makes this stuff so much easier.

[2021-04-11 03:57] ntthang-dev-zz commented on #1784
Oh, that's it! Thanks for taking the time to help me so much. I will try that. 😄

[2021-04-11 15:23] kenbell commented on #1785
PR to merge to stm32-svd repo: https://github.com/tinygo-org/stm32-svd/pull/3

[2021-04-11 22:03] FrankReh opened #1790 "wasm: musttail call must precede a ret with an optional bitcast"
[code]
Version reports
[code]
Problem does not manifest when -opt=1 is used. Problem also reproduced from the latest dev branch.

Ran into this when building for wasm where a js.FuncOf was being called. Reduced the problem to find it is some combination of calls from the syscall/js package which I reduced further to a stand alone main.go file below. But the problem goes away if the sync.Lock call

[2021-04-12 02:59] Xunzhuo opened #1791 "CentOS Install Help"
How can I install tinygo in Centos with yum ?😀

[2021-04-12 15:17] Polarbaer50 opened #1792 "Arduino Uno R3: complete wrong sleep time with time.Sleep values < 17 milliseconds"
Hello all
in my Arduino Uno R3 project I use multiplexing to light up different LEDs. The multiplexed ON time for an LED should be around 1ms. However whenever I lower the sleep time below 17ms the sleep time is much to short.
Is this a know issue?
Could there be a problem in tinygo/src/runtime/runtime_avr.go?
Thanks for someone looking into this issue

$ tinygo version
tinygo version 0.17.0 linux

[2021-04-12 16:45] soypat commented on #1762
@sago35 Apparently my board is not flashing correctly. Trying out other pins and measuring voltage it seems the blinky program does nothing, including for other pins.

I'd try out wuhanstudio's solution but I'm unsure how to go about doing that modification... do I have to compile from source after modifying?

[2021-04-12 16:51] wuhanstudio commented on #1762
It's not required to compile from source.

In Windows, it works by changing **tinygo/targets/esp8266.json** in the installation directory of pre-compiled tinygo.

![image](https://user-images.githubusercontent.com/15157070/114431374-57d79a00-9bb7-11eb-8b4d-5f36ade351dc.png)

[2021-04-12 17:07] soypat commented on #1762
Yes! that worked, thanks wuhanstudio. I'm on linux so it was in my `/usr/local/lib/tinygo` directory. Changing this file solves the issue. However I seem to have found a new bug in the process. The following blinky program does not work:

[code]

The result should be blinky on `machine.LED` and `machine.D0` but it seems to crash leaving the LED on indefinitely. If I change `machine.D0` to `machine

[2021-04-12 18:42] wuhanstudio commented on #1762
![image](https://user-images.githubusercontent.com/15157070/114444502-e3a4f280-9bc6-11eb-834a-7fcbf333c2de.png)

For esp8266, the GPIO0 can not be controlled because it defines the boot mode.

The ESP8266 will enter the serial bootloader when GPIO0 is held low on reset. Otherwise it will run the program in flash.

GPIO0 Input | Mode
-- | --
Low/GND | ROM serial bootloader for esptool.py
High/VCC |

[2021-04-12 21:16] soypat commented on #1762
Alright, that solves my issue.thanks @wuhanstudio

[2021-04-12 21:16] #1762 closed, assigned to nobody

[2021-04-13 03:48] kenbell opened #1794 "stm32f40x: Reading data over SPI unreliable"
Reading data over SPI is unreliable due to an internal feedback delay from SPI CLK to SPI SDI.

STM32F40x and STM32F41x Errata sheet

Fixed by #1793

[2021-04-13 14:15] MrNinso commented on #1290
Thanks for merge my PR #1773 , I was thinking to close this issue , but I noticed the atmega2560 don't have a PWM implementation. I'm starting work in this implementation for atmega1280, probably this will work for atmega2560 (but I don't have a arduino mega 2560 to test) .

did you prefer I rename this issue or open other ? @aykevl @deadprogram

[2021-04-13 14:15] deadprogram commented on #1750
![image](https://user-images.githubusercontent.com/5520/114567351-7307df80-9c73-11eb-925e-5e99c7f7e7d0.png)

[2021-04-13 14:21] deadprogram commented on #1290
Please open a new issue/PR for that.

I have marked this issue with label for next release, and will close it once it is actually released.

Thank you!

[2021-04-13 14:22] #1791 closed, assigned to nobody

[2021-04-13 14:37] Zagidziran opened #1795 "Tinygo test fails"
Hi I've just installed go and tinygo with the scoop

scoop install go
scoop install tinygo

then I've took an example from here https://github.com/tetratelabs/proxy-wasm-go-sdk/tree/main/examples/http_headers

and powered it with

### go.mod
[code]
and

### go.sum

[code]

and then when running **tinygo test**
I'm receiving

[code]

which makes me think it uses go runtime instead the tingo runtime

[2021-04-13 14:38] MrNinso commented on #1290
Okay :+1:

[2021-04-13 14:46] aykevl commented on #1750
This sounds like a good idea. I don't like duplication and generally I think moving code out of the runtime is a good idea: the runtime package should be concerned with the runtime (GC, scheduler, `time.Now` implementation, map/slice/string runtime calls, etc) and not so much with hardware details.

However, what may be complicated is designing a good API around it. Things in the machine package a

[2021-04-13 15:07] aykevl commented on #1795
Please post code samples with triple back ticks, like so:

[code]

That makes the code a lot easier to read.

[2021-04-13 15:08] aykevl commented on #1795
Regarding your issue: the problem is that you are not specifying a target and it defaults to the host (GOOS=windows). Windows is not a supported target at the moment. So if you want to run tests on WebAssembly, you need to run them using `-target=wasm` or the appropriate environment variables.

    GOOS=js GOARCH=wasm tinygo test

(I'm not sure how this works in Windows).

[2021-04-13 15:11] aykevl commented on #1795
It also appears there is a bug in how TinyGo presents these error messages: the paths appear to be wrong. The errors are certainly coming from the TinyGo runtime (which doesn't support Windows) but it shows the wrong paths for them.

[2021-04-13 16:52] deadprogram commented on #1765
@aykevl you are correct. Now closing.

[2021-04-13 16:52] #1765 closed, assigned to nobody

[2021-04-14 00:00] sago35 opened #1796 "Speed up llvm-source step and llvm-build step in ci"
note: If I make a Pull-Request, a cache will probably be created in circleci, so I'll write it in the issue first.

I have improved the following two points.
I think it will speed up the CI in most cases.

However, since we are using a cache-reducing method, the cache may need to be updated in future dev versions.
Typically, this happens when you try to use a file that is not currently in use.
I w

[2021-04-14 01:46] aykevl commented on #1796
Yes, this is a good idea. I wanted to make this change but haven't done it yet. However, I think it is better to cache specific directories instead of specific file extensions. For example, the directory that is currently needed is `llvm-project/clang/lib/Headers`. Like this:

[code]

Again, I think it is better to remove (or keep) specific directories instead of file extensions. I think all `CMak

[2021-04-14 17:34] dkegel-fastly opened #1801 "Output of "tinygo test -target=wasi -c" not working with wasmtime or wasmer?"
A no-op test passes with tinygo test and the default target, but I'm not sure how to get it to pass with wasm and the wasmtime or wasmer runtimes.

[code]
Here's the no-op test case:
[code]

I probably missed a memo somewhere, but it'd be nice if it were clearer how to do this.

[2021-04-14 21:20] aykevl commented on #1801
See https://github.com/tinygo-org/tinygo/pull/1804 for a fix.

[2021-04-15 00:28] dkegel-fastly opened #1805 "regression at 312f5d3 "builder: run interp per package": "panic: interface conversion"?"
An app here built ok with tinygo 0.17 (either from release branch using go install or using "brew install tinygo").

The same app now fails with tinygo built from dev branch ( v0.17.0-99-g0d66475 ) using go install:
[code]

Bisecting was a little hard, so I built all 99-odd commits from release to dev.
To pierce the veil of vanished go-llvm versions, I had to apply https://github.com/tinygo-org/ti

[2021-04-15 00:57] sago35 commented on #1796
It worked well.

[code]

It seems that wildcard cannot be written in the paths of circleci.
I think it is necessary to delete all files except llvm-build/lib*.a.
Is there a better way?

[2021-04-15 10:10] aykevl commented on #1805
Can you share how to reproduce this issue? The bisected commit is a big change (even if it might look small) and so it's hard to see what exactly is going wrong.

[2021-04-15 12:33] fgsch opened #1807 "Error building wasi with -scheduler=tasks"
Version:

`tinygo version 0.18.0-dev-6dd5666 linux/amd64 (using go version go1.16.3 and LLVM version 11.0.0)`

(also fails with 0.17.0)

Command line:

`tinygo build -target=wasi -scheduler=tasks  -o main.wasm`

Test case:

[code]

Error:

[code]

[2021-04-15 14:49] dkegel-fastly commented on #1805
I was afraid you'd ask that :-) I will try to come up with a minimal reproducer.

[2021-04-15 16:06] fgsch commented on #1805
Here is a minimal repro:

[code]

[2021-04-15 17:58] dkegel-fastly opened #1808 "Implement benchmark support in "tinygo test""
As https://github.com/tinygo-org/tinygo/blob/release/src/testing/benchmark.go notes,
[code]

[2021-04-15 18:05] dkegel-fastly commented on #1805
fgsch is a rockstar :-)

[2021-04-15 18:17] fgsch commented on #1304
fwiw, ` invalid operation: mismatched types os.FileMode and fs.FileMode` seems to be fixed in current dev.

[2021-04-16 00:23] sago35 commented on #1796
@aykevl
I tried deleting everything except `lib/lib*.a`, but the build failed.
I think it's easier to delete the object (*.o / *.obj) in llvm-build.

Test TinyGo:
[code]

* sourcecode
    * https://github.com/sago35/tinygo/commit/535f88369534ebcc725102fa2049163fd377a021
* circleci
    * https://app.circleci.com/pipelines/github/sago35/tinygo/44/workflows/c3c0559f-30b4-4122-a522-4cf374bbd104/jobs/1

[2021-04-16 03:01] kenbell opened #1811 "tinygo-drivers not building after PWM refactor"
build error...
[code]

git bisect...

[code]

[2021-04-16 03:13] kenbell commented on #1811
Affects multiple tests, I commented these out to have `make test` work in `tinygo-drivers`:
[code]

[2021-04-17 19:14] kenbell opened #1816 "Cannot indicate which ST-LINK to use when multiple plugged in"
Currently, if multiple ST-LINK are plugged in to development box, it's not possible to indicate which one to use for flashing a target.  This makes it cumbersome to develop for & test multiple targets.

It is possible to select the desired ST-LINK by using the `hla_serial` openocd command, eg:
[code]

This can be specified in the target configuration today, but that binds the serial number of a ST

[2021-04-17 22:40] dkegel-fastly opened #1818 "No line number info in backtraces?"
Having line numbers would be handy, but they don't seem to be present.  (And showing source code would be even nicer.)
[code]

This is with tinygo 0.17-ish on mac.

[2021-04-17 22:58] aykevl commented on #1818
TinyGo normally supports debug information, but apparently something is missing here. Weird.

I wonder if something is missing on MacOS? The last time I tried it worked just fine on Linux and other targets (using GDB).

[2021-04-18 07:41] deadprogram commented on #1811
See https://github.com/tinygo-org/drivers/pull/252

[2021-04-18 07:42] #1784 closed, assigned to nobody

[2021-04-18 09:39] aykevl commented on #1796
You can use `find llvm-build -name CMakeFiles -prune -exec rm -r '{}' \;`. This removes all object files and even some other unnecessary files (1MB more removed).

[2021-04-18 11:27] aykevl commented on #1818
It appears to be working on Linux at least:

[code]

Unfortunately I do not have access to a Mac so I can't reproduce your issue.

[2021-04-18 14:38] sago35 commented on #1796
It worked fine.
After #1234 is merged, I' ll create a PR.

https://app.circleci.com/pipelines/github/sago35/tinygo/49/workflows/74d49b91-b46d-4e39-b53d-f3c9248e3649

[2021-04-18 18:43] dmlambea opened #1820 "nRF 52840 freezes when USBCDC receives too much data"
I am experiencing system freezes while using the USBCDC device. The freezes always occur on data overloads. If the amount of data sent to the nRF's USBCDC adapter is chunked in small blocks, it seems to go fine. But if the data block is large, the board freezes in the `usb.Read(...)` call.

Definitions of "small" and "large" blocks are not precise. Assuming that the board's USBCDC is connected to

[2021-04-18 18:44] dmlambea commented on #1820
The method I'm using to see where the hang occurs is by turning on and off a LED before and after the `usb.Read(...)` call. The system always freezes with the LED on.

[2021-04-18 19:01] dmlambea commented on #1820
The problem is reproduceable under TinyGo v0.16 and v0.17

`tinygo version 0.17.0 linux/amd64 (using go version go1.15.10 and LLVM version 11.0.0)`

[2021-04-19 00:06] sago35 commented on #1820
I reproduced it using the instructions you provided.

The following method also reproduced the problem.

[code]

[2021-04-19 15:28] aykevl commented on #1820
@dmlambea is it still reproducible with #1823? Does that PR improve anything?

[2021-04-19 16:28] dmlambea commented on #1820
Yes, @aykevl , it is still reproducible. I've noticed no improvements.

[2021-04-19 16:30] aykevl commented on #1820
Okay, thank you for testing!

[2021-04-19 16:34] dmlambea commented on #1820
Thank you for your support!  If you have any other tests I can help with, just tell me.

[2021-04-19 16:49] noot opened #1824 "accessing memory within wasm module"
Hey, I was wondering if it's possible to access the wasm memory in go code that'll be compiled to wasm. eg something like:

[code]

If this is supported are there any docs on this? If not, is there some workaround you might suggest? Thanks!

[2021-04-19 17:40] aykevl commented on #1824
Why do you need to do this?
In general you can't just access raw memory. You would overwrite existing Go data structures.
If you want to use raw memory outside of WebAssembly, you could allocate a buffer in Go (for example, `make([]byte, length)`), and use that from JavaScript for example. However you'd need to be careful that it doesn't get collected by the garbage collector.

[2021-04-19 17:42] aykevl commented on #1820
I haven't done much work on USB, @deadprogram might know more.
@ardnew is working on a potential replacement of the USB stack, which might be better able to deal with a higher load.

[2021-04-19 18:29] dmlambea commented on #1820
@aykevl  (cc @deadprogram @ardnew )  I've tracked the problem down to the function:

[code]

I've changed it so it doesn't wait forever, just to see if the lock is happening there. My patched func is now:

[code]

Please, bear in mind that LED3 is a known led in my setup that I'm using to distinguish when the function exits normally and when it exits due to "timeout"; and that the initialization v

[2021-04-19 19:08] ardnew commented on #1820
Those critical section locks of course need to be as close as possible to the events that enable/disable the DMA controller.

It might be tricky figuring out what is keeping it locked with just LEDs. If it is a previous read keeping it locked (bulk OUT endpoint), then its likely you'll only reproduce the issue when transmitting data larger than a single Rx packet. On the nRF52840, it looks like ma

[2021-04-19 19:28] noot commented on #1824
I mean accessing the wasm linear memory in particular, for example on the native side I want to write some data to the linear memory and read it on the wasm side, or vice versa. I don't mean raw memory, only the wasm linear memory.

Looking at this issue https://github.com/tinygo-org/tinygo/issues/411, the solution seems to be similar to what I'd like. Would `buf` end up being placed somewhere in

[2021-04-19 19:45] noot commented on #1824
alright, I think I almost answered my own question. Compiling this code with `tinygo build -o wasm.wasm -target wasm ./wasm/wasm.go`:
[code]

then running this wasmer code:
[code]

shows that the buffer starts at offset `65808` in linear memory, but then when I call `my_func` I see that it calls into `wasi_unstable.fd_write` , then panics. The full output is:
[code]

Any idea what's going wrong he

[2021-04-19 20:01] dmlambea commented on #1820
@ardnew I've run the following tests by uploading the README.md file in loop, using different chunk sizes each test:

 - 129-byte chunks: it hangs at random packet (usually after the first two or three packets, rarely a couple more).
 - 128-byte chunks: it works for a dozen of packets, sometimes a bit more, but finally crashes.
 - 65-byte chunks: it works for a hundred of packets but finally it cr

[2021-04-19 20:17] ardnew commented on #1820
That suggests to me it is indeed a race condition with the DMA Rx buffers (as opposed to a race between a read and a control response, for example), which really helps narrow down the cause.

I can give it a closer look this evening.

BTW what board are you using?

[2021-04-19 20:23] dmlambea commented on #1820
I'm using nRF 52480.  Thank you for your support, @ardnew

Latest news: the 63-byte transfers finally crashed. It took minutes for it to crash, but it failed at the end. So I will try with smaller packet sizes (32 bytes, for example) and will leave it running the whole night.

[2021-04-19 20:41] dkegel-fastly commented on #1818
Line numbers do work better on linux, thanks.

[2021-04-19 21:00] dkegel-fastly opened #1825 "gdb can't print local variables, they're always "optimized out"?"
On linux on amd64, gdb can do ```info variables``` to see globals, but ```info locals``` usually lists all the variables as optimized out.

This is the case even with

 tinygo -opt 1

I can't go lower; opt 0 fails with

[code]

(This is with dev from mar 29, 35bf0746a178c, to work around the crash https://github.com/tinygo-org/tinygo/issues/1805 .)

[2021-04-19 22:26] dmlambea commented on #1820
There is something strange here. I've been able to submit 3950 packets of 32 bytes each before getting a freeze. But if I lower the packet size to 16 bytes, I'm able to upload up to 11260 packets before the crash. In all cases, the board freezes anyway.

[2021-04-20 01:30] aykevl commented on #1820
~Note that there is still a known issue with heap allocations. It's probably easy to fix, but I haven't gotten to it yet. See #1823 for details. This _might_ be the problem although I suspect it's something else.~

EDIT: nevermind, just realized this is only on SAM D21 and SAM D51 boards, not on the nrf52840. The other heap allocations are fixed in #1823 so in theory the nrf52840 USB code should b

[2021-04-20 01:33] aykevl commented on #1820
If you have a debug probe, you could try attaching it. It should give you a nice backtrace of where it is stuck. (However, I realize that most USBCDC using boards don't have an easily accessible debug interface).

[2021-04-20 14:39] aykevl commented on #1818
I think I see why it doesn't work. In short: on MacOS, it seems that debug information is stored in object files and not in the final binary. TinyGo however creates an object file in a temporary directory and removes it after the build, so that object file (with debug information) is gone after compilation. Therefore `lldb` won't be able to find it.

I see two possible workarounds:

* Try installi

[2021-04-20 20:10] dkegel-fastly opened #1826 "Segfault after sync.Once ?"
A project I'm running with tinygo seems to be triggering a crash on the two platforms I've tried (amd64, both linux and mac).

It seems to occur in both 0.17 (prebuilt or self-built) and dev (though I can't quite say for certain my tests are valid - I am not 100% sure I'm cleaning up properly between runs).

As I minimized the test case, the crash wiggled around between sigsegv, sigabort, and null

[2021-04-20 20:31] aykevl commented on #1826
This sounds a lot like a memory corruption.

Can you try `-gc=conservative`? I've seen crashes before with the default (extalloc) GC and this might be another instance of it.

[2021-04-20 20:39] dkegel-fastly commented on #1826
Update:
- sometimes you have to run the binary a few times before you see the crash
- the crash does not happen with -scheduler=none
- the test does not compile with -scheduler=tasks
- the crash does not seem to happen with -gc=conservative

[2021-04-20 20:57] aykevl commented on #1826
Interesting! In that case, I suspect that `-gc=extalloc` (the default on Linux and MacOS) is to blame. Especially since I've had mysterious issues before that were solved by switching to the conservative GC.

@niaow can you maybe take a look?

[2021-04-20 23:07] aykevl commented on #1805
Here is a bugfix: https://github.com/tinygo-org/tinygo/pull/1827
Basically I just removed all the affected code (350 lines excluding tests). Apparently it wasn't really needed.

[2021-04-21 07:18] deadprogram commented on #1805
Actually, since this regression appeared in-cycle, I am going to close it now. Thank you very much @dkegel-fastly for the report and to @fgsch for the repro case!

[2021-04-21 07:18] #1805 closed, assigned to nobody

[2021-04-21 07:26] deadprogram commented on #1796
@sago35 can this issue now be closed?

[2021-04-21 10:04] sago35 commented on #1796
@deadprogram
Yes, this issue has been resolved.

* merged
    * #1819
    * #1822

[2021-04-21 10:31] deadprogram commented on #1796
Thanks @sago35!

[2021-04-21 10:31] #1796 closed, assigned to nobody

[2021-04-22 08:44] deadprogram commented on #1587
Is anyone actively working on this? :crossed_fingers:

[2021-04-22 08:45] deadprogram commented on #1586
Is this problem still occurring with the latest TinyGo?

[2021-04-22 08:51] deadprogram commented on #1366
This was included in the last release, so now closing. Please reopen if this is in error. Thanks!

[2021-04-22 08:51] #1366 closed, assigned to nobody

[2021-04-22 08:52] deadprogram commented on #1337
Closing since this is not really an issue so much with how we are doing it.

[2021-04-22 08:52] #1337 closed, assigned to nobody

[2021-04-22 08:53] deadprogram commented on #1320
@sago35 is this still an issue?

[2021-04-22 09:02] deadprogram commented on #1307
Is this still an issue with the latest TinyGo since #1430 was previously merged?

[2021-04-22 09:04] deadprogram commented on #1206
Closing due to inactivity. Please reopen if needed. Thank you!

[2021-04-22 09:04] #1206 closed, assigned to nobody

[2021-04-22 09:06] deadprogram commented on #1132
Closing due to inactivity. Please reopen if needed. Thank you!

[2021-04-22 09:06] #1132 closed, assigned to nobody

[2021-04-22 09:08] deadprogram commented on #575
Since the issue from #907 was solved differently can this issue now be closed?

[2021-04-22 09:18] sago35 commented on #1320
This one is still unresolved.

@deadprogram

For the adafruit board, updating the bootloader fixed the problem.
However, I still have the following problem with wioterminal.

I would like #1397 to be merged.

However, at this point, I still don't know why adding verify eliminates the problem.
This is a problem with openocd, and the same problem occurs when I run openocd directly without tinygo.

[2021-04-23 06:30] arp242 opened #1830 "Using the regexp package gives either a stack overlow or "panic: expected exactly one index""
With the following:

[code]

I get:

[code]

I attempted to reduce the complexity of the regexp to isolate the problem, but with this:

    var reTest = regexp.MustCompile("0")

I get:

[code]

Full error over here, as it's a bit long: https://gist.github.com/arp242/eb624496c58ea151daa71009cace3d61

    $ tinygo version
    tinygo version 0.18.0-dev linux/amd64 (using go version go1.16.3 and LLVM

[2021-04-23 06:31] arp242 commented on #1830
I appreciate that something like the regexp package might not be supported in TinyGo btw, I just wanted to see if my little CLI program works with TinyGo now that os.Args is supported. But panics and stack overflows are not the best way to communicate that 😅

[2021-04-23 06:55] arp242 opened #1831 "Panic when building/testing a package without any code"
[code]

Same results for `tinygo build`.

Trying to build/test this is a bit silly of course; the case where I ran in to this is that I have a library where all the actual code is in subpackages, with just a `doc.go` and `go.mod` at the top-level. Still, it shouldn't panic.

Looking at `CompilePackage()`, it's `ssaPkg.Prog.ImportedPackage("runtime")` that returns `nil`; I suppose because it doesn'

[2021-04-23 07:40] rythmkraze commented on #1587
Ive been working on a minimal integration, just enough to run the blinky1 example, based on the Pico C SDK.

[2021-04-23 08:20] arp242 opened #1832 "crypto/sha256 doesn't work on amd64"
`crypto/sha256` is listed as [supported](https://tinygo.org/lang-support/stdlib/), but it doesn't seem to work on amd64:

[code]

The problem seems to be that crypto/sha256 contains optimized assembly versions for some platforms such as amd64 and arm64. `block()` is defined in `sha256block_amd64.s`:

    TEXT ·block(SB), 0, $536-32

Via `sha256block_decl`:

[code]

I'm not sure if using assembly i

[2021-04-23 09:21] deadprogram commented on #1587
@rythmkraze I assume you have seen the @jeffmhastings fork?

[2021-04-23 09:58] gfeun opened #1834 "Improve Docker quickstart"
Hello,

I am experimenting with tinygo on micro-controller (esp8266/32 and arduino mega2560) and I'm having a lot of fun !

I see several ways to improve user onboarding and documentation regarding Docker.
I'll be glad to contribute changes if you find anything i list here useful.

This issue can be decomposed into tinier issues according to what you agree on.

### Document docker run --dev=/dev/t

[2021-04-23 15:40] sparques commented on #1586
I am running into a very similar problem with an itsybitsy-M4. I'm using goroutines that loop and sleep and eventually (but not always) I get a panic: runtime error: g (it cuts off here, but I think this is the only runtime panic error that starts with a g).

I'll try switching scheduler and report back.

tinygo version 0.17.0 linux/amd64 (using go version go1.16.3 and LLVM version 11.1.0)

[2021-04-23 16:52] aykevl commented on #1586
I think I've found the issue: the FPU is somehow enabled. Not sure how it got enabled, the FPU is currently unsupported by TinyGo (it will result in a stack overflow as you've all seen now).

This also shows there is a bug in the NXP code, here:

https://github.com/tinygo-org/tinygo/blob/80caf2dab2523d1d6ff2a0716fd5fc3c83821074/src/runtime/runtime_nxpmk66f18.go#L78

With the FPU enabled, interrupt

[2021-04-23 17:04] aykevl commented on #1586
I _suspect_ it's getting enabled by the UF2 bootloader. So that gives two options:

1. Easy: disable the FPU at startup to avoid these stack overflows.
2. Harder: fully support the FPU, including in interrupt stack calculations.

If you want a quick fix, you can do the first thing early in your code with this line:

[code]

Floating point operations are still supported just like before because we'

[2021-04-23 17:21] sparques commented on #1586
I hadn't realized TinyGo wasn't using the FPU. Goes to show how powerful the M4 and Go are together. I'm making extensive use of floats in my code--doing softfloat on other MCU platforms drove my code to a stall. I think it'd be great eventually can support the FPU. I'll just disable it for now.

[2021-04-23 19:23] sparques commented on #1586
Switching to coroutines scheduler fixed my issues of the panic goroutine stackoverflow and also let me use both a pin-interrupt and i2c at the same time. If I try to use a pin-interrupt and i2c with tasks scheduler, i2c just straight doesn't work.

[2021-04-24 00:10] aykevl commented on #1586
@antonfisher @deusnefum can you try this PR and see whether the stack overflows still occur? https://github.com/tinygo-org/tinygo/pull/1836

Note that the coroutines scheduler may not always interact well with interrupts. It's best to use `-scheduler=tasks` (the default) if possible.
Additionally, it sounds like you're hitting a different kind of bug. There is no good reason why pin interrupts and

[2021-04-24 00:30] aykevl commented on #1461
Oops, I forgot about your commit! Sorry about that. These issues are now fixed in the dev branch.

I _think_ this issue is now fixed, but I'm not 100% certain.
EDIT: they're not, there is the bug in the bluetooth package that needs fixing.

[2021-04-24 01:43] sparques commented on #1586
@aykevl, Not sure if I'm doing something wrong here, but after checking out hte disable-fpu branch and building tinygo, I get a bunch of these kinds of errors:

/home/zashi/tmp/tinygo/src/machine/machine_atsamd51.go:426:32: EIC_CTRLA_ENABLE not declared by package sam

[2021-04-24 09:25] rythmkraze commented on #1587
@deadprogram Yes I have.

[2021-04-24 12:40] sparques commented on #1586
Copying over the src/ from disable-fpu branch into my system's tinygo/src directory gets me a different set of errors:

[code]

[2021-04-24 13:05] aykevl commented on #1586
You probably need to run `make gen-device`.

Are you using the src directory of the dev branch to the release version of TinyGo? That's not at all supported and I'm not surprised it crashes. The TinyGo binary always has to match the src directory it's using.

[2021-04-24 15:26] deadprogram commented on #1461
Heh, I also forgot about it.

[2021-04-24 16:57] sparques commented on #1586
make gen-device was indeed the step I was missing.  Sorry for the other noise, I'm still very new to tinygo.

I think I got this right, now. I did a make build/release and used the binary in build and TINYGOROOT created in build/release/tinygo

TINYGOROOT=/home/zashi/tmp/tinygo/build/release/tinygo/ ~/tmp/tinygo/build/tinygo build -target=itsybitsy-m4 -o fw.uf2 main.go

It certainly works better n

[2021-04-24 21:26] deadprogram commented on #1461
I am pretty sure that there is an easy way to use the new `-print-allocs` flag to find these. Can you please give me an example of how to use it?

[2021-04-24 21:44] aykevl commented on #1461
I already know where it is, here: https://github.com/tinygo-org/bluetooth/blob/release/adapter_nrf528xx.go#L109-L110

Unfortunately it appears that the `-print-allocs` flag can't see where the heap allocation happens exactly. Probably some debug information is missing, possibly even in the x/tools/go/ssa package.

[2021-04-24 21:46] aykevl commented on #1461
Oh and this is how you can use it:

[code]

(Normally it would show the lines where it is allocated and where it escapes).

See `tinygo help`:

[code]

(If there is any way to clarify this message, please say so.)

[2021-04-25 00:00] aykevl commented on #1461
I've fixed the missing line number issue in this PR: https://github.com/tinygo-org/tinygo/pull/1838
Now it gives this much more helpful message:

[code]

[2021-04-25 08:23] deadprogram commented on #1461
So `-print-allocs=bluetooth` means it will match any function in the `bluetooth` package? e.g. `bluetooth.handleEvent` in this case.

[2021-04-25 10:51] jypelle opened #1839 ""unable to locate a serial port" error because of missing "/dev/ttyACM0", even when I don't use it"
With tinygo 0.17.0 on ubuntu 20.04, If I want to flash my arduino-nano, I should execute as a workaround:

[code]

Before flashing with

[code]

Without the workaround, I got a "unable to locate a serial port" error message because tinygo always check the presence of at least one "/dev/ttyACM*" even if it doesn't use it.

[2021-04-25 11:29] aykevl commented on #1461
Yes, it will match any function with `bluetooth` in the name (including in the function name). So for example `bluetooth.handle` will match any function with that regular expression (including `bluetooth.handleEvent`).

[2021-04-25 15:04] FrankReh commented on #1831
I ran into this too. My dev branch is a few days old though so couldn't say with a latest checkout.

While starting a new project with an empty main. Found I can import something like '_ "time"' and that satisfies whatever build assumptions are being made now. It was not enough to import _ "runtime".

[2021-04-25 17:05] gfeun commented on #1839
Hey @jypelle,

Try passing your command parameters before you input and use only one dash.

Like so: `tinygo flash -target=arduino-nano -port=/dev/ttyUSB0 ./cmd/myawesomeproject`

[2021-04-25 18:36] jypelle commented on #1839
Indeed, I should have reread myself, It works as expected

[2021-04-25 18:36] #1839 closed, assigned to nobody

[2021-04-27 18:18] sjp27 opened #1841 "gen-device-svd gives duplicate symbols with most NXP LPC processors"

[2021-04-27 23:53] soypat opened #1843 "avr: interfaces can't be compared"
# Problem
Interfaces are not comparable. This problem is aggravated by the fact errors usually need to be compared to control program flow, i.e. io.EOF.

The following program yields an error when flashing/building
[code]

*Output*
[code]
Error happens on the following boards as well
* `arduino`
* `arduino-mega2566`

Below is a MWE of the error, same error message too:

[code]

[2021-04-28 17:50] sjp27 commented on #1841
Not an issue with tinygo but with the NXP svd files.

[2021-04-28 17:50] #1841 closed, assigned to nobody

[2021-04-30 00:59] FrankReh commented on #1790
This is the IR. I believe it comes from the coroutine lowering. WebAssembly can't do tail calls yet so it's odd a musttail is even making it into the generated code. It seems related to the returnTo coroutine intrinsics setup in coroutines.go. In the middle of this IR, is a branch and a get.throw.i3 and then a second label. Here we have a tail call to runtime.nilPanic and later a musttail call to

[2021-04-30 02:07] FrankReh commented on #1790
Oh I see the problem. There is a pass that adds a store instruction between the musttail and the ret. I had been printing the IR out too early. With hindsight, this seems like a silly error on my part - not outputting the IR right before the error was reported. I had assumed the mistake was having a musttail in the first place. Now it is likely the problem is with the store being inserted there -

[2021-04-30 04:23] FrankReh commented on #1790
[code]

[2021-04-30 16:20] FrankReh commented on #1790
The musttail marker can be turned into a tail marker to solve this. Or the insertion point could be put before the call that has the musttail on it. Or if it is known that this is only used for targets that don't support tail calls any, all tail and musttail markers can be removed. I've tried all three approaches and they all solve the problem from my perspective.

[2021-05-01 03:39] adrianbn opened #1847 "Goland + TinyGo + Modules"
Hi,

I've been trying to set up a dev environment using TinyGo, Goland (or IntelliJ Pro), and go modules. I manage to get the environment working without making use of modules with workarounds as those described here #927. There is mention of support for modules in #107 but not a clear setup guide. Is there a supported way to do go modules in Goland IDE as of today?

Cheers!

[2021-05-01 08:46] mayocream opened #1848 "stack overflow building wasm"
failed building wasm importing package "github.com/yuin/goldmark/parser"
[code]

test code:
[code]

[code]

[2021-05-01 10:24] sago35 commented on #1847
The latest information can be found below.
For `v0.16.0` and later, only the `GOROOT` and `GOFLAGS` settings are required.

* https://tinygo.org/ide-integration/
* https://tinygo.org/ide-integration/#other-ides

I think many parts of the following articles are still useful today.
The difference between then and now is that you need to configure `GOROOT`.
`GOROOT` can be found by running `tinygo en

[2021-05-02 00:27] adrianbn commented on #1847
Hey @sago35 ,

Thanks for chiming in. Unfortunately I tried that and it didn't work. If I set `GOROOT` to Go (not tinygo), the machine package won't resolve. But if I try to set it to tinygo (e.g. `C:\Users\adrian\scoop\apps\tinygo\current`) then I get the following error from Goland:

```The selected directory is not a valid home for Go SDK```. See image below:
![image](https://user-images.github

[2021-05-02 00:33] adrianbn commented on #1847
Hey @sago35,

Thanks for chiming in. I figured out what the issue is. The correct value for `GOROOT` in IntelliJ / Goland is the `cached GOROOT` in the output of `tinygo info -target <your_target>`, not the `GOROOT` value you see when you run `tinygo env`! See image below:

![image](https://user-images.githubusercontent.com/3987397/116798318-172abc80-aaa3-11eb-98a9-642366102b43.png)

This issue ca

[2021-05-02 00:33] #1847 closed, assigned to nobody

[2021-05-02 01:29] adrianbn commented on #1847
Actually, an update here. When using the cached `GOROOT` Goland seems to think go version is 0.1 and can't build anything with modules. I assume this is a bug with Goland / IntelliJ so I'll bring it up with them. See error below:
[code]

[2021-05-02 03:57] sago35 commented on #1847
@adrianbn

I'm sorry for the wrong information about `GOROOT`.
The information you wrote is correct.

For `gopls`, you need to set `GOROOT`.
However, you should not set `GOROOT` to `cached GOROOT` when running `tinygo build/flash`.
For example, if you run `set GOROOT=` and then run `tinygo flash`, it should work fine.

[2021-05-02 11:49] aykevl commented on #1847
Indeed, it's the "cached GOROOT" that should be used in IDEs (but note that the value can sometimes change, with Go and TinyGo updates).

I suspect the file src/runtime/internal/sys/zversion.go is to blame. Can you try bumping the version in there to some newer Go version?
(A proper fix would need to do something different, but it's a quick hack to test whether that is the issue).

[2021-05-02 15:31] adrianbn commented on #1847
Hey @aykevl,

That is indeed a hack that clears that error. Not sure why that file contains such a weird version value however.

There is yet another issue after that one is fixed:

[code]

Same error shows up for other packages such as `io` or `time`. From a shell the project builds fine using the same command though, but the shell environment points to the original `GOROOT`, not the cached one.

[2021-05-02 15:43] aykevl commented on #1848
I can confirm this issue. In the dev branch, there is also a different bug that triggers before the infinite recursion in this issue which I have a fix for.

[2021-05-02 18:05] aykevl commented on #1847
Good to know! Then this file zversion.go might need to be generated.

Weird, just to be sure you could try running `tinygo clean` which clears the cache and might resolve any issues.
If that doesn't solve the issue, can you verify that `C:\Users\adrian\scoop\apps\go\current` exists and contains the `src\time` package?

[2021-05-02 19:26] adrianbn commented on #1847
That was indeed a cache problem. Not sure what happened there but `tinygo clean` solved it. Thanks for all the help!.

[2021-05-02 23:06] ofauchon opened #1851 "panic: runtime error with i2c and bluepill"
Building simple I2C code on bluepill fails with "panic: runtime error: nil pointer dereference"

Step to reproduce:

* Edit  main.go
[code]
* Build and flash

[code]

* Run it

It 'll fail with error:
[code]

It could find i2c.Bus is undefined in I2C Configure() function:

https://github.com/tinygo-org/tinygo/blob/1f73941c43dac9bc91ca651479655fea5c01c538/src/machine/machine_stm32_i2c_reva.go#L120-

[2021-05-02 23:23] kenbell commented on #1851
Yeah, that declaration looks a bit odd.  I guess i missed testing it when i added the 'revb' i2c implementation.

I think the change is good, you'll raise a PR?

[2021-05-02 23:35] ofauchon commented on #1851
Thx for the feedback!
Yes I'll PR this tomorrow

[2021-05-03 00:13] fgsch commented on #1830
Does this work not using globals? See #1306 .

[2021-05-03 06:54] ofauchon commented on #1851
You'll find the PR for the fix here:

https://github.com/tinygo-org/tinygo/pull/1852

Thanks

[2021-05-03 07:10] artspb commented on #1847
Just in case, since Go 1.17 the version is in `internal/buildcfg/zbootstrap.go`. GoLand supports both the old and the new file (and a few intermediate, actually).

@aykevl Could you please shed a light on why an IDE needs to use `cached GOROOT`? What's the difference with a regular `GOROOT` and what could happen if one uses it instead? Thanks.

[2021-05-03 07:40] tcastelly commented on #923
Thank you @aykevl
I'm Archlinux user with the same error. Build my app from the downloaded release works for me.

[2021-05-03 10:23] aykevl commented on #1830
This panic is probably solved with #1850.

You will probably run into #1848 after that (the stack overflow). To fix that, you could move the `regexp.MustCompile` out of init code, for example into the `main` function.

Well yeah, but these behaviors weren't exactly intended behavior.

[2021-05-03 22:29] ofauchon opened #1854 "Strange behaviour with timers and i2c on bluepill"
Hi all,

I noticed some kind of unexpected behaviour while playing with i2c and timers on BluePill board.
It seems i2c Tx interferes with timers :

In the following code, there are three 2ms pulses (low/high).

Note there  is an extra  I2C Tx  communiction before the second pulse:
[code]

The scope show the three pulses:

![image](https://user-images.githubusercontent.com/561441/116940947-09299700

[2021-05-03 22:31] ofauchon opened #1855 "Strange behaviour with timers and i2c on bluepill"
Hi all,

I noticed some kind of unexpected behaviour while playing with i2c and timers on BluePill board.
It seems i2c Tx interferes with timers :

In the following code, there are three 2ms pulses (low/high).

Note there  is an extra  I2C Tx  communiction before the second pulse:
[code]

The scope show the three pulses:

![image](https://user-images.githubusercontent.com/561441/116940947-09299700

[2021-05-04 03:22] kenbell commented on #1855
I do see slightly different timing for the middle pulse, but not quite the same as your values (note: had to add a line to config I2C1 to get that).  Given this is 'bit-banging' based on timer, I suspect it's due to the tick resolution being 1 millisec.

The implementation of sleep is this:
[code]

I.e. the max resolution of sleep is actually ticks.  Sleeping for 2000us will be translated into a s

[2021-05-04 03:29] kenbell commented on #1855
Note, this code i think is why it returns early (in scheduler.go):
[code]
The choice here is to possibly sleep up-to 1 tick extra, or to possibly return up-to 1 tick early from sleep.  This code looks like it's choosing to return from sleep up-to 1 tick early given it uses `>=`.

[2021-05-04 04:36] FrankReh commented on #1553
For anyone else running into this thread, it is possible to make the tinygo map very efficient - and the tinygo wasm code runs faster than the go wasm code. Make the map with a good size hint and consider allocating enough heap to begin with.

The current implementation won't increase the bucket width, just the depth of bucket chains as more entries overflow the preallocated buckets. If one doesn'

[2021-05-04 04:36] FrankReh commented on #1553
[code]

[2021-05-04 12:16] ofauchon commented on #1855
Some results while playing with TICK_RATE:

* with TICK_RATE=10000

Pulse1 width = 2,009
Pulse2 width = 1.921
Pulse3 width = 2.001

* with TICK_RATE=100000

Pulse1 width = 2,009
Pulse2 width = 2.012
Pulse3 width = 2.011

=> We can confirm the Sleep Precision is related to Tick Rate.

Do that mean we don't have sub-ms timers out-of-the-box ?
Is that stm32 specific ?

If I'm right, why not implement

[2021-05-04 13:12] ofauchon commented on #1854
Duplicate with #1855

[2021-05-04 13:12] #1854 closed, assigned to nobody

[2021-05-04 15:35] siadat commented on #1140
Having the same issue here and wondering if there are any plans to address the memory leak issue. 🙏

[2021-05-04 19:23] deadprogram commented on #1830
So the panic should now be solved in the `dev` branch with #1850 merged, but we should leave open to address the stack overflow part.

[2021-05-05 04:48] dkegel-fastly opened #1857 ""make llvm-build" fails if invoked from within another makefile?"
"make llvm-build" is failing for me with
[code]

However, I think this only happens if I invoke it from within another Makefile.

I tried clearing the obvious environment variables set by the outer Make, but that didn't help.

Probably user error, recording it here in case someone else runs into it.

[2021-05-05 11:08] aykevl commented on #1857
Maybe the current working directory needs to be changed? Just a guess.

[2021-05-05 11:09] lexfrei commented on #1587
Any news?

[2021-05-05 12:42] deadprogram commented on #1851
#1852 was merged, so marking this issue to be closed on next release.

[2021-05-05 14:06] aykevl commented on #923
Okay, then I would consider this a bug in the `tinygo` Arch Linux package, not in TinyGo itself.

[2021-05-05 14:10] aykevl commented on #1553
I suspect this crash is related to this issue in the extalloc GC: https://github.com/tinygo-org/tinygo/pull/1445#issuecomment-832300285. I've seen memory related crashes before with the extalloc that were worked around with `-gc=conservative`.
You can try compiling with `-gc=conservative` to see whether that fixes it.

[2021-05-05 15:52] dkegel-fastly opened #1862 "regression: tinygo apps crash in one wasi runtime if argc == 0?"
Since https://github.com/tinygo-org/tinygo/commit/7b761fac7805083dd0263ed376b10e106726ef8f,
tinygo apps crash on one wasm runtime.  It seems the runtime used by my employer does not provide argv[0].
I could not reproduce the problem with wasmtime or wasmer, but the problem is quite reproducible in our environment.

I also tested on mac and linux, using execve to run a tinygo app without argv[0], b

[2021-05-05 18:35] dankegel commented on #1857
That's not it, I think.

This is not really a tinygo bug, may as well close or ignore until someone figures out what's going on.

[2021-05-05 23:20] johanbrandhorst commented on #923
@tcastelly could you figure out the error and report it on the relevant package? I'd be happy to take contributions.

[2021-05-06 07:25] deadprogram commented on #1862
Since this issue was introduced in-between releases I am going to mark as closed. Thanks @dkegel-fastly for the report and the fix!

[2021-05-06 07:25] #1862 closed, assigned to nobody

[2021-05-06 10:29] deadprogram commented on #1831
This looks like is has been reported before in https://github.com/tinygo-org/tinygo/issues/186 but was closed too soon.

[2021-05-06 10:30] deadprogram commented on #1811
Now that https://github.com/tinygo-org/drivers/pull/252 has been merged I am closing this issue. Thanks @kenbell

[2021-05-06 10:30] #1811 closed, assigned to nobody

[2021-05-06 15:34] aykevl commented on #1831
No, #186 is a different issue when the `main` function is missing in the main package. This issue is about `tinygo test`.

[2021-05-06 19:36] ofauchon commented on #1855
The problem is realted to STM32's tick precision.
This should be solved by Pull Request https://github.com/tinygo-org/tinygo/pull/1866

[2021-05-08 03:21] AdwindOne opened #1868 "build wasm data section unimplemented: alignment of type"
wasm convert  wat  data section :

(data (;0;) (i32.const 65536) "\unimplemented: alignment of type \01\01\00 \00\00\00\00\00\00\00\00\00\00\00unimplemented: (reflect.Type).Elem()\00\00\00\00P\01\01\00$\00\00\00Field\00\00\00\00\00\00\00\00\00\00\00reflect: field index out of range\00\00\00\00\00\00\00\90\01\01\00!\00\00\00<unimplemented>LenNumField\00\00\00\00\00\00unimplemented: size of type\00\

[2021-05-08 09:50] aykevl commented on #1868
How did you get this error?

[2021-05-08 09:51] aykevl commented on #1868
This looks like the data section of a WebAssembly file, I don't see anything special about it.

[2021-05-08 14:05] ghost opened #1869 "wasm js.FuncOf - 'panic: sync: unlock of unlocked Mutex'"
Using:

tinygo version 0.15.0 darwin/amd64 (using go version go1.15.3 and LLVM version 10.0.1)
macos 10.12.4
firefox 68.12

Compiles into WASM, but at runtime generates the following error on the browser console:

`panic: sync: unlock of unlocked Mutex`

code:

[code]

Not sure if it something I am doing wrong... but the same code inside main() compiles and runs fine.  I have been using tinygo was

[2021-05-08 15:11] FrankReh commented on #1869
Some of us have experienced that tinygo can't do everything at init time that it can do at runtime. While you're using an older version of tinygo than many by now, it is possible that the call to js.FuncOf isn't well supported at init time, or more specifically, that the sync.Mutex isn't well supported at init time. One of the small prices we pay for using tinygo to compile to wasm rather than the

[2021-05-08 20:33] ghost commented on #1869
Thanks!  good to know, since I remember seeing something similar for another init vs runtime issue around the concurrency stuff some time ago.  Although I tend to avoid all the concurrency features of Go now, since I guess it is all single threaded once it is within wasm/javascript sandbox?  Although just looking at the source for FuncOf makes me wonder if my assumption is correct (the thread safe

[2021-05-09 03:54] FrankReh commented on #1869
To answer your question about how to track down the line of code. All I can offer is that I've gotten very used to bisecting what I've changed since the last time it compiled and ran. Also, often I just write a loop on the side that keeps recompiling as the shell sees a file get rewritten. Another big step in my understanding was when I figured out I could change any of the files in the tinygo/src

[2021-05-09 07:24] deadprogram commented on #1857
In that case I will close. Please reopen if needed. Thanks!

[2021-05-09 07:24] #1857 closed, assigned to nobody

[2021-05-09 07:27] deadprogram commented on #1826
Now that #1860 has been merged, can we close this issue?

[2021-05-09 07:32] deadprogram commented on #1781
We'd been happy to receive contributions to add support for building binaries targeting Windows.

[2021-05-09 11:38] ghost commented on #1869
Great to know I am not alone in this challenge :) and thanks for the tips! especially modifying the src folders, I shall investigate that further.  I was also tempted to change some stuff in the .js bridge file, since there seems to be quite some overhead with Funcs in both directions,  but so far just added a couple of my own js functions in my webpage for passing Uint8 arrays back and forth.

An

[2021-05-09 18:13] niaow commented on #1826
Huh, this is a different bug than the one I found.

[2021-05-09 18:24] niaow commented on #1826
Interestingly, turning gcDebug on causes this to pass.

[2021-05-09 18:31] niaow commented on #1826
Ok so specifically: observing the allocated pointer inside of `runtime.alloc` appears to change the codegen in some meaningful way.

[2021-05-09 18:33] niaow commented on #1826
Or maybe it could just be placing the pointer on the stack I guess?

[2021-05-10 03:08] AdwindOne commented on #1868
This error is an error message in the generated WASM after compilation

[2021-05-10 15:50] fgsch opened #1875 "[DEV] Building wasm with none scheduler: default stack size for goroutines is not set"
When building using the dev branch at `d7ec9ddcd23e7ba8bab2cb50780a6fda573ae8f3`, I'm now seeing:

`/usr/local/Cellar/go/1.16.3/libexec/src/time/sleep.go:180:2: default stack size for goroutines is not set`

Command line:

`tinygo build -target=wasi -scheduler=none -wasm-abi=generic -o main.wasm`

This works fine with 0.17.0 and I'd guess until `9f5066aa6f1d67f161bc0d7520dc2f1bfa1f2b0d`.
Using the

[2021-05-10 21:51] aykevl commented on #1875
This should fix it: https://github.com/tinygo-org/tinygo/pull/1876

Before:

[code]

After:

[code]

I don't think `-scheduler=none` is currently supported in WebAssembly, but the PR linked above should improve the error message.

[2021-05-11 10:26] fgsch commented on #1875
Thank you. That's what I had in my tree.

FWIW, we've been using `-scheduler=none` with `-target=wasi` without issues.

This can probably be closed now as it was an issue in the dev branch.

[2021-05-11 11:06] deadprogram commented on #1875
OK great. Now closing, thanks everyone!

[2021-05-11 11:06] #1875 closed, assigned to nobody

[2021-05-11 22:09] niaow commented on #712
#1172 dealt with this but I forgot about this issue.

[2021-05-12 05:17] dyaskur commented on #1140
any update? I just wondering what will happen if I ignore that error or copy from original wasm_exec?

[2021-05-12 10:51] #1045 closed

[2021-05-12 13:19] fgsch commented on #1790
Also running into this with the following code (edited to show the problem):

[code]

It builds fine with the leaking gc.

[2021-05-12 14:21] deadprogram commented on #1851
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:21] #1851 closed, assigned to nobody

[2021-05-12 14:22] deadprogram commented on #1831
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:22] #1831 closed, assigned to nobody

[2021-05-12 14:22] deadprogram commented on #1816
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:22] #1816 closed, assigned to nobody

[2021-05-12 14:22] deadprogram commented on #1801
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:22] #1801 closed, assigned to nobody

[2021-05-12 14:23] deadprogram commented on #1794
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:23] #1794 closed, assigned to nobody

[2021-05-12 14:23] deadprogram commented on #1785
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:23] #1785 closed, assigned to nobody

[2021-05-12 14:23] deadprogram commented on #1760
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:23] #1760 closed, assigned to nobody

[2021-05-12 14:24] deadprogram commented on #1748
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:24] #1748 closed, assigned to nobody

[2021-05-12 14:24] deadprogram commented on #1713
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:24] #1713 closed, assigned to nobody

[2021-05-12 14:24] deadprogram commented on #1706
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:24] #1706 closed, assigned to nobody

[2021-05-12 14:25] deadprogram commented on #1672
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:25] #1672 closed, assigned to nobody

[2021-05-12 14:25] deadprogram commented on #1666
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:25] #1666 closed, assigned to nobody

[2021-05-12 14:26] deadprogram commented on #1649
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:26] #1649 closed, assigned to nobody

[2021-05-12 14:28] deadprogram commented on #1647
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:28] #1647 closed, assigned to nobody

[2021-05-12 14:28] deadprogram commented on #1523
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:28] #1523 closed, assigned to nobody

[2021-05-12 14:29] deadprogram commented on #1505
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:29] #1505 closed, assigned to nobody

[2021-05-12 14:29] deadprogram commented on #1422
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:29] #1422 closed, assigned to nobody

[2021-05-12 14:30] deadprogram commented on #1304
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:30] #1304 closed, assigned to nobody

[2021-05-12 14:30] deadprogram commented on #1290
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:30] #1290 closed, assigned to nobody

[2021-05-12 14:30] deadprogram commented on #1199
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:30] #1199 closed, assigned to nobody

[2021-05-12 14:31] deadprogram commented on #541
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:31] #541 closed

[2021-05-12 14:31] deadprogram commented on #285
This was released with v0.18 so now closing. Thank you!

[2021-05-12 14:31] #285 closed

[2021-05-13 02:55] zhenjunMa opened #1879 "[Question]tinygo build wasm error when use protobuf"
### Question

when i use struct compiled by protobuf, and use tinygo build to a wasm file,  i got an error.

### How to reproduce

model.proto
[code]

build command
`protoc -I. --go_out=. model.proto`

hello.go
[code]
build command:
`tinygo build -o wasm.wasm -target wasm ./hello.go`

error:
![image](https://user-images.githubusercontent.com/28104581/118070017-c0dd4800-b3d7-11eb-8b07-4f014d66af62.

[2021-05-13 03:21] AdwindOne commented on #1868
data[0] section   always see  "index out of range... "  and  calculate two numbers over a billion  return panic unreachable

[2021-05-13 06:04] zhenjunMa commented on #1879
hello.go

[code]

i tried to use json like above, but still got an error:

![image](https://user-images.githubusercontent.com/28104581/118084832-f09a4900-b3f3-11eb-98e5-4610749849c5.png)

so, if i can use any other way to serialize a struct ?

[2021-05-13 09:27] aykevl commented on #855
This is now implemented in the latest release, see https://github.com/tinygo-org/tinygo/pull/1121.

[2021-05-13 09:27] #855 closed

[2021-05-13 13:10] aykevl commented on #1868
This is normal. These errors do not happen in correct programs.

Do you get an error when you run the wasm binary?

[2021-05-13 13:42] AdwindOne commented on #1868
TinyGo did not got this error when compiling a Golang file into WASM, but when I converted WASM into WAT, I found that the data segment got this error  ，I don't know if it effect me from doing over a billion number addition operations .Because I got an error message "Panic unreachable" when adding more than 1 billion numbers

[2021-05-14 12:55] wangfakang opened #1883 "have an approximate time plan for support net/http package?"
May I ask if there is a approximate time plan for support net/http package? thx.

[2021-05-14 19:20] FrankReh commented on #1140
I would still stand by my comment and code snippet from above. There is one place where the finalizeRef is called by the syscall/js.go file so it is a legitimate place to release the JavaScript resource, as my code above does (it comes into play for temporary strings). But it is also true that for the vast majority of js.Value for JavaScript objects, the JavaScript heap will be left with outstandi

[2021-05-14 22:39] antonfisher commented on #1586
@aykevl @deadprogram, just flashed the example using `tinygo version 0.18.0 darwin/amd64 (using go version go1.16.4 and LLVM version 11.0.0)`:
[code]
And everything is working fine! Thank you!

(flashing with ```-scheduler=coroutines``` works as well 👍)

[2021-05-15 07:20] deadprogram commented on #1586
That is good news @antonfisher thanks for testing. Now closing this issue, please reopen if needed.

[2021-05-15 07:20] #1586 closed, assigned to nobody

[2021-05-15 16:57] knieriem opened #1884 "array indexes ignored when initializing pointers to array elements at package level"
When I'm initializing a pointer to an array element at package level the following way,

[code]
`p` will point to a[0] instead of a[2] starting with tinygo v0.17.0. The array index, in this example: 2, appears to be ignored, and replaced by zero.

I am observing this for initializations at package level and within init, but not for pointers initialized within functions. I'm using the following tin

[2021-05-15 17:54] kenbell opened #1885 "interp panic during compilation"
branch: fork off dev
build command: tinygo build -target stm32f4disco-1 -o test.elf --opt=0 ./src/examples/pwm/

panic:
[code]

Adding diagnostic output to the panic, I see:
[code]

It appears to be the implementation of device/arm/arm.go, DisableInterrupts

[2021-05-15 18:02] kenbell commented on #1885
As a temporary fix, i added this case to the switch statement:
[code]

This appears to generate functional binaries.

[2021-05-15 18:47] bartekpacia commented on #1587
I second @lexfrei, where can we expect more info?😄

[2021-05-16 12:35] niaow commented on #1826
Ok so I have narrowed this down a bit: when using coroutines, something is not being tracked properly. This issue can actually be replicated with the conservative collector too by forcing a GC on every allocation and zeroing freed blocks. Similar to #1245 , the extalloc collector may be triggering it more often due to more GC cycles and memory actually being quickly overwritten after freeing.

[2021-05-16 13:45] soypat commented on #1587
As far as I know there are two attempts at bringing RP2040 support to TinyGo. Both seem abandoned and have similar amount of progress
* https://github.com/jeffmhastings/tinygo/tree/rp2040 (last commit February)
* https://github.com/rythmkraze/tinygo/tree/pico (last commit April)

To anyone else who embarks on this apparently perilous journey, **godspeed**.

[2021-05-16 14:37] knieriem commented on #1884
btw, the first revision, where the new behaviour starts, appears to be 30df912565c2.

[2021-05-16 14:53] iarkaroy opened #1886 "Getuid not declared by package os"
I am working on an wasm project. When building with normal go command like:
[code]
it is working perfectly, but when building with tinygo:
[code]
it is showing errors:
[code]
Go version: `1.16.4`

Any suggestion?

[2021-05-16 22:18] rythmkraze commented on #1587
branch [pico](https://github.com/rythmkraze/tinygo/tree/pico)  has been updated.
Contains minimal implementation to get blinky1 example working. Only supports the machine.Pin API and that too in PinOutput mode.

[2021-05-17 02:46] dengliangjun commented on #1879
I met those compiled errors as the same with yours
You should update tinygo version to 0.18.
However, Maybe you will meet new errors as the same with mine.
i.e.
xxxx/protobuf/proto/clone.go : AddpendSlice not declared by package reflect
xxxx/protobuf/proto/discard.go : t.FieldByName undefined ( type reflect.Type has no field or method FieldByName)
xxxx......
xxxx.....

If you solve this problem, P

[2021-05-17 16:46] lexfrei commented on #1587
@rythmkraze is there any ETA? No pressure, just an interest.

[2021-05-17 18:24] jjeb opened #1887 "Compiling ANTLR with tinygo returning Function return type does not match operand type of return inst!"
Hi, I am trying to compile [ANTLR4](https://github.com/antlr/antlr4/blob/master/doc/index.md) using tinyGo, I am fully aware that there is some challenges so I am not really looking for a solution but to understand a little bit more about the error so I can try to figure it out:

[code]

[2021-05-17 23:08] vicnoah opened #1888 "wasm will report an error when using the crypto/x509 package"
`package vrsa

import (
	"crypto/rand"
	"crypto/rsa"
	"crypto/x509"
	"encoding/pem"
	"io"
)

// GenerateRSAKey 生成rsa公私钥
func GenerateRSAKey(priv io.Writer, pub io.Writer, bits int) (err error) {
	// GenerateKey函数使用随机数据生成器random生成一对具有指定字位数的RSA密钥
	// Reader是一个全局、共享的密码用强随机数生成器
	privateKey, err := rsa.GenerateKey(rand.Reader, bits)
	if err != nil {
		return
	}
	// 保存私钥
	// 通过x509标准将得到的ras私钥序列化为ASN.1 的

[2021-05-18 13:32] ysoldak opened #1889 "Panic messages are not always printed out"
Sometimes my program panics and crashes.

Tinygo runtime tries its best to notify over serial console where exactly problem was, but this message usually fails to be delivered. Probably system dies too soon, could we make sure it prints out the message fully before halting?

An example of a message would be really nice to see in the console: "goroutine stack overflow"
See https://github.com/tinygo

[2021-05-19 11:44] aykevl commented on #1888
This would be best solved by replacing the net package entirely. See: https://github.com/tinygo-org/tinygo/pull/1881

[2021-05-19 11:49] aykevl commented on #1887
That certainly looks like a bug in TinyGo. Can you share a small code sample that reproduces this problem?

[2021-05-19 11:56] aykevl commented on #1587
@rythmkraze can you please make a PR with that branch? That makes it a lot easier to review the changes for eventual inclusion. On a first glance, it looks pretty good although it needs a few changes to match the style of the rest of the TinyGo targets.

[2021-05-19 11:58] aykevl commented on #1879
Some of these issues are fixed in the latest release. Can you try again with the latest release?

[2021-05-19 12:21] fgsch commented on #1888
Actually, there is another issue that needs to be addressed on top of #1881 - I will open a PR shortly.

[2021-05-19 12:21] dengliangjun commented on #1879
Hi, I need your help, My Env :
tinygo=0.18.0
go=1.13
target=wasm
my source code like ：
struct Order {
    Name string ‘json:name’
    Price int 'json:price'
}
bytes:=[b'{',b‘}’]] // empty json "{}"
json.Unmarshal(bytes,&order)

get a runtime error:
panic: unimplemented : (reflect.Type).Name()

Whether My go version is too low.
My source code can run within 'go build'

[2021-05-19 12:31] aykevl commented on #1886
I have made a patch which should fix this: https://github.com/tinygo-org/tinygo/pull/1892

[2021-05-20 03:09] zhenjunMa commented on #1879
@aykevl      thank you for you reply.

as @dengliangjun said,   after i upgrade tinygo to 1.18.0

when i used `protobuf` to serialize a struct, i got an error:

`github.com/golang/protobuf/proto/clone.go:222:20: AppendSlice not declared by package reflect`

when i used `json` to serialize a struct, i got an another error:

`panic: unimplemented: (reflect.Type).Name()`

the difference is for protob

[2021-05-20 03:17] dengliangjun commented on #1879
the same errors as you, me too!
I want to solve/contribute this issue. Whether there is anyone else can direct me.

来自skycto.com企业邮箱------------------------------------------------------------------
***@***.***>
日　期：2021年05月20日 11:10:12
***@***.***>
***@***.***>; ***@***.***>
主　题：Re: [tinygo-org/tinygo] [Question]tinygo build wasm error when use protobuf (#1879)

@aykevl thank you for you reply.
a

[2021-05-20 12:48] fgsch commented on #1888
@vicnoah both PRs are merged now. Can you give it another try using the dev branch?

[2021-05-20 16:18] vicnoah commented on #1888
Ok, I will try later

[2021-05-20 17:55] jjeb commented on #1887
I created a repo with the minimum code to reproduce the issue, you can find it in here: [https://github.com/jjeb/ql](https://github.com/jjeb/ql).

I did some digging and it seems like something on ANTLR does not compile on tinyGo, I am still not sure what is it.

Thank in advance.

[2021-05-20 18:13] aykevl commented on #1887
Thank you! Now I can reproduce the issue.

[2021-05-20 18:28] aykevl commented on #1887
Here is a fix: https://github.com/tinygo-org/tinygo/pull/1898

[2021-05-21 15:50] deadprogram commented on #1886
@iarkaroy can you please check if this corrects your issue? Thank you.

[2021-05-21 16:47] deadprogram commented on #1887
Hello @jjeb can you please check to see if this fix works for you. Thanks.

[2021-05-21 20:40] gedw99 commented on #1886
@iarkaroy did you have any success ?
 I am also Interested is go-app project being able to compile with tinygo

[2021-05-22 05:42] iarkaroy commented on #1886
When building, I am getting this error:
[code]
I have already installed `libclang-10-dev`. Is there anything else I need to do?

[2021-05-22 14:27] hamidrezakks opened #1900 "Int is being parsed as int32"
Hi,

Is there anyway to change default architecture to 64bit,
TinyGO always parse int asa int32,
Even in JS OS package,

I'm using WASM complier by the way! with all cryptography functions.

[2021-05-22 14:31] hamidrezakks commented on #1879
Well I had the same problem, i highly suggest to use go go proto instead.
https://github.com/gogo/protobuf

Make sure you remove extra methods from generated .pb.go files and just keep marshal and unmarshal methods

[2021-05-22 15:26] aykevl commented on #1900
The `int` type depends on the architecture. So it is `int64` on amd64 and aarch64, and `int32` on all others, including WebAssembly which is a 32-bit system (but includes 64-bit integer types).

If you need to use an integer type that can hold values bigger than an `int32` can hold, you should use `int64` or `uint64` instead of `int`.

[2021-05-22 15:29] aykevl commented on #1879
Yes, I'm aware of this issue. It is something that I want to fix in the reflect package. Unfortunately there is no easy fix.

[2021-05-22 15:41] thomas-maurice opened #1901 "Calls to fmt.Sprintf makes Tinygo panic at compile time"
# What ?
I am observing a panic when I am calling the `fmt.Sprintf` function

TLDR
[code]

# How to reproduce
I am using tinygo 0.18.0, and go `go version go1.15.6 linux/amd64`

[code]

I am using the arduino-nano-new target, and I compile with the following command and output
[code]

Let me know if you need more info !

[2021-05-22 16:02] hamidrezakks commented on #1900
Well golang wasm and tinygo wasm should have the same logic on WASM right?

In golang wasm int is being parsed as int64,
In fact golang is using int64 bud tinygo is using int32 when using int primitive,

I think it would be good if you use a flag for default int bits.

[2021-05-22 16:41] aykevl commented on #1879
This should be fixed with this PR: https://github.com/tinygo-org/tinygo/pull/1902

[2021-05-22 16:43] #1635 closed, assigned to nobody

[2021-05-22 16:43] #1633 closed, assigned to nobody

[2021-05-22 16:43] #1671 closed, assigned to nobody

[2021-05-22 16:44] deadprogram commented on #1901
Try not using the `fmt` package on avr processors. It uses reflection which uses too much memory on these small processors.

[2021-05-22 16:46] aykevl commented on #1900
Oh, I didn't know that.

Not really. The size of `int` is implementation defined, and TinyGo chooses to follow the pointer size of the underlying architecture which is 32-bits in the case of WebAssembly.

This would introduce a lot of complexity especially since it affects the calling convention. It's unlikely I'd want to add it to TinyGo unless there is a really strong reason to do so.

But the m

[2021-05-22 16:57] hamidrezakks commented on #1900
Well we are using a cryptography SDK for our products, which might use int, I didn't dig much..., so you are suggesting to port all modules?

All I know is that I get different result using tinygo.

[2021-05-22 16:59] aykevl commented on #1900
In that case you should investigate why you're getting different results. It might be the different `int` type (which would be a bug in the SDK), or it might be a bug in TinyGo.

[2021-05-22 17:15] hamidrezakks commented on #1900
Ok then,
Thanks

[2021-05-22 17:15] #1900 closed, assigned to nobody

[2021-05-23 10:05] thomas-maurice commented on #1901
@deadprogram right, thank you for the answer, I will close the issue now !

[2021-05-23 10:05] #1901 closed, assigned to nobody

[2021-05-23 12:34] pojntfx opened #1904 "I2C Peripheral Mode not yet supported"
Hi! I'm trying to use an Arduino Uno as an I2C peripheral instead of an I2C controller, but it doesn't seem to be possible to do so using the relevant machine package. To work around this, I though I might use either `device/avr` or CGo, however neither of them seem to work. For the following snippets, I've created minimal, reproducible examples here: [growlapse subdir](https://github.com/pojntfx/

[2021-05-23 15:39] skhwhu commented on #1886
I am also Interested is go-app project being able to compile with tinygo, can you build a fixed tinygo.exe for windows

[2021-05-23 21:46] aykevl commented on #1886
@iarkaroy that error message is probably outdated, you may need to install libclang-11-dev instead. For details, see https://tinygo.org/docs/guides/build/#with-system-installed-llvm.

[2021-05-23 21:49] aykevl commented on #1886
@skhwhu you can download a build from here: https://dev.azure.com/tinygo/tinygo/_build/results?buildId=3391&view=artifacts&pathAsName=false&type=publishedArtifacts

[2021-05-23 23:53] knieriem commented on #1884
A partial fix appears to be to change `llvm.Type{}` to `llvmType` in interp/memory.go:912. Possibly a typo.

[code]

Because of the empty type, the array offset stored within the pointerValue got ignored, so that the index value was missing from the GEP operation. After replacing `llvm.Type{}` with `llvmType` (the actual type), the correct GEP expression is constructed, and my example code above r

[2021-05-24 01:59] skhwhu commented on #1886
@aykevl thank you very much for you propmt reply. I download tinygo.exe from the above link, but I find "Getuid" doen;t fixed!

C:\Users\SKH\go\pkg\mod\github.com\google\uuid@v1.2.0\dce.go:47:42: Getuid not declared by package os
C:\Users\SKH\go\pkg\mod\github.com\google\uuid@v1.2.0\dce.go:55:41: Getgid not declared by package os

[2021-05-24 04:09] dengliangjun commented on #1879
thanks for your suggestions and help.
have you test your approach?
can you share your code within gogo/protobuf, which can be compiled with tinygo.

[2021-05-24 05:55] vicnoah commented on #1888
I still get an error compiling with the dev branch.

[code]

[2021-05-24 21:07] deadprogram commented on #1904
The correct way to handle this requires extension to the I2C interface as currently defined. As you have already noticed.

Let me give it a little thought. Perhaps @aykevl or others want to chime in as well.

[2021-05-25 04:05] zhenjunMa commented on #1879
@aykevl   thank you for your attention about this issue.

I have tried to compile the latest `dev` branch  which maybe fixed my question, the compiled result is below:
![image](https://user-images.githubusercontent.com/28104581/119436605-09d5ba80-bd4f-11eb-838c-cc069e6412a2.png)

It's my bad that I didn't describe the problem clearly before, so let me redo this.

use tinyGo `0.18.0` to compile a g

[2021-05-25 12:58] fgsch commented on #1888
This is different though.  As the error says, `clientpay` will block and is exported.

[2021-05-25 16:36] jjeb commented on #1887
Hello @deadprogram / @aykevl

It does compiles but it does not work, I am getting and error in web console, when I tried to execute it:

[code]

I updated the [repo-example](https://github.com/jjeb/ql/commit/d4e5d24f5ae6cfff12c2d63a43f72d3717fa6f0a) so there is a consistent way to reproduce the issue and you can see the error.

The tinygo version after build from the branch with the fix is:

[code

[2021-05-26 05:25] deadprogram commented on #1885
@kenbell can you please verify if #1891 addressed this issue? Thank you.

[2021-05-26 05:38] kenbell commented on #1885
It did, thanks

[2021-05-26 07:45] cheer-Yuan opened #1906 "<undefined reference> problem while compiling a binary for Arm from Linux"
Hello,

I am trying to compile a program of ARM with tinygo from Linux, when I enter the following command :
[code]
I got :
[code]
The relevant codes indicated here above are :
[code]
I have just use
[code]
to install this package.

However,
[code]
works without any problem.
Using CGO_ENABLED="0" flag doesn't change anything.
I have searched on the Internet and found no similar issues. Thank you f

[2021-05-26 10:58] ghost opened #1907 "wasm - [question] example requestAnimationFrame loop"
So I had quite a complex thread safe WAF loop using channels, but then realised it was overkill with javascript being mostly single threaded.  And anyway it seemed to cause a lot of resume() calls due to a `select` with 6 channel reads.  So I simplified the code now, but it still seems to use a lot of CPU even when rendering a simple scene with a clearRect and fillRect (every frame).  I was just l

[2021-05-27 13:01] ysoldak commented on #1889
@deadprogram Shall I close it myself or it's a part of the release process?

[2021-05-27 13:05] deadprogram commented on #1889
Marking for next release.

[2021-05-28 00:28] vicnoah commented on #1888
I don't understand what this means. It didn't generate the wasm file. I will try again.

[2021-05-28 15:20] loreaman opened #1910 "windows issue: unable to flash arduino nano33"
[code]

[2021-05-29 02:09] sago35 commented on #1910
If you add the `-x` option as follows, how does it appear?

[code]

[2021-05-29 20:34] Gustavomurta commented on #1323
I have problem when installing avr-gcc.

scoop install avr-gcc
Installing 'avr-gcc' (10.2.0) [64bit]
The URL is not valid :
URL https://dl.bintray.com/lumito/public/projects/avr-gcc/10.2.0/avr-gcc-10.2.0-x64-windows.7z is not valid

I found it at this site:   (avr-gcc-11-20210501-x64-windows.7z)
https://avr.lumito.net/downloads/
https://avr.lumito.net/download/4944/

Please,update this procedure.

[2021-05-29 23:39] thushan commented on #1323
Thanks for the heads up @Gustavomurta, will look into it and get back to you soon. Looks like the URL patterns have changed by that URL, but will confirm properly.

[2021-05-30 00:11] thushan commented on #1323
@Gustavomurta
Can you open up an [issue on scoop](https://github.com/lukesampson/scoop/issues) for me to address the package issue... if there's an error message that appears that would be helpful too. I don't have a Windows machine to check it right at this moment but will do so tomorrow.

[2021-05-30 02:58] sago35 opened #1918 "Can NEOPIXEL(S) name be unified?"
`NEOPIXEL(S)` is now defined with the following name
[drivers/examples/ws2812](https://github.com/tinygo-org/drivers/blob/release/examples/ws2812/others.go#L9) expects the name `NEOPIXELS`.
So we would like to unify these names.
Even if there is only one `NEOPIXEL`, we want to use the name `NEOPIXELS`.

If you want to ignore compatibility, you can change them all to `NEOPIXELS`.
If you want to kee

[2021-05-30 07:34] hamidrezakks commented on #1879
Hi @zhenjunMa

Here is one of our protos
[code]

the generated gogo file has many functions just keep these
1. func (m *MessageEnvelope) Marshal() (dAtA []byte, err error)
2. func (m *MessageEnvelope) MarshalTo(dAtA []byte) (int, error)
3. func (m *MessageEnvelope) MarshalToSizedBuffer(dAtA []byte) (int, error)

and the main struct which is
[code]
in my case.

for generating proto.bp.go files use

[2021-05-30 19:15] deadprogram commented on #1855
Now that #1867 has been merged, can we mark this issue to be closed on next release?

[2021-05-30 20:18] deadprogram commented on #1918
I vote for this one. It is a one time small pain, but does not leave any extra cruft around.

Maybe someone else has a different opinion? Do please let us know.

[2021-05-30 23:00] ofauchon commented on #1855
Yes, you can mark it as closed.

Thanks!

[2021-06-01 12:06] thushan commented on #1323
Reverted to the official builds by Zak, tested and opened a PR. Should go through in a few days @Gustavomurta.

[2021-06-01 13:29] aykevl commented on #1918
Yes, using the same name everywhere seems like a good idea.

However, I wonder whether we should maybe use something other than NeoPixel, which is an AdaFruit brand name for the WS2812. We could just call it `WS2812` everywhere and perhaps add an alias `NEOPIXEL` or `NEOPIXELS` on boards from AdaFruit. It seems wrong to use the NeoPixel brand name on a board that isn't from AdaFruit. (See also: Ve

[2021-06-01 17:03] loreaman commented on #1910
Hi, thank you for the reply. Unfortunately I am getting again the error. I will paste the output here:
[code]

[2021-06-01 17:37] deadprogram commented on #1910
What does `bossac.exe -h` by itself show?

[2021-06-01 17:45] loreaman commented on #1910
[code]

[2021-06-01 18:15] aykevl commented on #1910
I suspect the issue is improper escaping of the command, because the path contains a space.

[2021-06-01 23:11] sago35 commented on #1910
As a workaround, I think you can set TMP to write as follows

[code]

[2021-06-02 12:09] aykevl commented on #1910
This PR should hopefully fix it: https://github.com/tinygo-org/tinygo/pull/1927

[2021-06-03 03:22] alanpoon commented on #1879
Here is my script to aggressively strip lines https://gist.github.com/alanpoon/541ceea2129412b5a5ae046ad90fccd6
to make it compile into wasm.

[2021-06-03 08:40] ysoldak opened #1930 "testing: How to run tests with "machine" dependency in main package?"
I want to test my tinygo application code.
In my local project, I have everything in package "main".
I'm not going to test machine-dependent code though, only my logic on top of it, mocking low level stuff out.

I was not able to use `tinygo test` in this scenario though, even with recent fixes.

[code]

Code is here https://github.com/ysoldak/tinygo-stuff/tree/master/tinytest

Shall I extract mac

[2021-06-03 09:12] deadprogram commented on #1930
This is how we have been approaching testing in the TinyGo drivers repo: https://github.com/tinygo-org/drivers/blob/release/mcp23017/device_test.go

[2021-06-04 10:52] abrander commented on #1776
@en-v You could use tinynet: https://github.com/alphahorizonio/tinynet

If tinynet is too big, you can implement basic networking pretty easily using raw syscalls.

[2021-06-05 17:20] kenbell opened #1934 "RP2040 2nd stage bootloader strategy"
This issue is a placeholder to figure out the best approach for RP2040 2nd stage bootloaders...

I'm having a quick play with a RP2040 feather - current pico code doesn't boot.  My best guess is the 2nd stage bootloader is not compatible.  Feather uses a GigaDevice GD25Q64C (8MB).  It looks like the situation with RP2040 stage2 boot loaders is 'complex'... :

- Pico SDK: multiple in assembler (gen

[2021-06-05 17:39] aykevl commented on #1934
Hmm. That really complicates things.

We could indeed use a database of flash chips, but I'm not sure that's worth the effort. I would be fine with specifying the parameters manually for each chip.

One possible solution would be the following:

* Create a generic C or assembly file for the 2nd stage bootloader. The checksum van be left zero. Parameters (such as SPI frequency) can be specified usi

[2021-06-05 17:56] aykevl commented on #1934
I think writing the stage2 bootloader in assembly will be easier as you don't have to worry about C compiler optimizations getting in the way. A quick look at the CircuitPython version suggests it relies on specific compiler flags to compile correctly. This can be avoided by programming directly in assembly.

[2021-06-05 18:11] kenbell commented on #1934
Makes sense - i agree, assembler is probably the right approach.  I'm not familiar with how the ESP32 binary format works, so i'll take a look at that.

[2021-06-06 04:12] wcpsoft opened #1935 "tinygo work in Win10"
I want to tinygo support build code in the win10.Do you need to use tinygo to compile code in docker container and then burn program in win10

[2021-06-06 06:56] deadprogram commented on #1935
You can run the TinyGo compiler on Windows 10. But you cannot yet build executable files targeting the Windows operating system. In other words, you can run TinyGo on Windows to build programs for microcontrollers and/or WebAssembly, but not build programs that can run on Windows itself.

Hope that helps!

[2021-06-06 16:49] wcpsoft commented on #1935
thanks,

[2021-06-06 16:56] kenbell commented on #1934
I've been thinking a bit.  If we patch the uf2 only, then `tinygo build -target pico -o blinky1.elf ./src/examples/blinky1` will have surprising results (especially if someone tries to use a debugger to flash the board).

I'm going to try out doing 2 linker passes:

- First pass generates elf with zero'd checksum
- JSON targetspec indicates a 2nd pass is needed with 'rp2040 checksum generation'
-

[2021-06-06 17:06] aykevl commented on #1934
Yes, that is also an option. The debugger issue you mention may indeed be a problem.

Perhaps easier is modifying the ELF directly. This is already done in one place, here:
https://github.com/tinygo-org/tinygo/blob/4e610a0ee72eba476b5b4102df62385ef7b73e39/builder/build.go#L980

In fact, it might be a good idea to do this for the ESP chips too for consistency.

[2021-06-06 22:50] kenbell commented on #1934
I've created a prototype of using 2 linker passes.  It assembles the existing Pico 2nd stage from code and creates a binary image that boots.  I tried to code it so that it could be extended in future for other use-cases where 2 linker passes might be needed, but it feels very specific to this case.  Prototype is here: #1936

I'm going to also try prototyping the approach of patching the ELF direc

[2021-06-06 23:20] sago35 commented on #1918
If the board has more than one WS2812, just add the name WS2812 to the board.

[2021-06-07 00:36] kenbell commented on #1934
And a prototype of using binary patching: #1937

I tried to minimize redundant logic between modifyStackSizes and the rp2040 logic.  I don't feel too strongly about it though (doesn't really simplify things much)

[2021-06-07 07:29] fenezema opened #1938 "wasm - [question] what packages that import unsupported package text/template"
Currently, I'm unable to compile due to error on importing `text/template`
I'm aware that `text/template` will cause an error on compile, based on https://tinygo.org/docs/reference/lang-support/stdlib/

But the thing is, the current codebase does not import `text/template` or any other package that import `text/template` that will causing compile error as explained in the docs

Imported package as

[2021-06-07 12:27] ofauchon opened #1939 "Recent STM32WL's TIM structs changes."
Hi,

As I was trying to finish my STM32WL port, I found out that STM32WL's TIM Struct differs from older STM32:

STM32WL TIM Structs:

[code]

  * STM32F4

[code]

This differences cause errors when trying to use STM32WL's timers with current machine_stm32_tim implementation.

@kenbell : Did you encounter this problem when you worked on the STM32 TIM and PWM implementation ?

Do you have any idea

[2021-06-07 12:59] sago35 commented on #1918
I will change the following targets.

circuitplay-bluefruit
circuitplay-express
clue-alpha
clue
feather-m4-can
feather-m4
feather-nrf52840
feather-stm32f405
grand-central-m4
matrixportal-m4
metro-m4-airlift
pybadge
pygamer
pyportal
qtpy

The wioterminal defines the name PIN_NEOPIXEL, but ws2812 is not equipped with it.
PIN_NEOPIXEL exists because it implements the name of the arduino source.
https

[2021-06-07 20:18] yurivish opened #1941 "wasm: js.CopyBytesToGo does not copy bytes to Go"
I encountered a bug when trying to pass data from JS to WASM using `js.CopyBytesToGo` to copy over the contents of a `Uint8ClampedArray`.

`js.CopyBytesToGo` errors with

 despite the fact that `src` is a `Uint8ClampedArray`.

Compiling the same code with Go's built-in WASM support succeeded, leading me to think this is a bug in TinyGo.

Here's a minimal example that reproduces the issue. It insta

[2021-06-08 00:05] kenbell commented on #1939
This might need some PRs against the stm32-rs project

For other chips, I think `TIM_Type` and `AdvanceTIM_Type` typically get merged into a single type `TIM_Type` - it looks like `AdavanceTIM_Type` is a superset of `TIM_Type`, so this is probably the first thing to investigate.  It might be some SVD patches would make sense to the `stm32-rs` project to make it like the other ST chips.   (there's

[2021-06-08 00:44] kenbell commented on #1939
You can try changing the `stm32wle5.yaml` file to have this content:
[code]

You'll then need to do a `make` in `lib/stm32-svd/` and then do `make gen-device-stm32`.  There's a bit more of a write-up here: https://github.com/tinygo-org/tinygo/wiki/Adding-support-for-an-STM32-MCU

[2021-06-08 05:38] #1935 closed, assigned to nobody

[2021-06-08 05:59] fenezema commented on #1938
Update:
After rechecking, I found the issue is a type cast package that I have been using. I didn't check carefully, and just found out that this package is importing html/package, which, based on docs will causing error upon compiling

Package : "github.com/spf13/cast"
Going to close this issue now

So sorry, and thank you

[2021-06-08 05:59] #1938 closed, assigned to nobody

[2021-06-08 06:06] rtttech opened #1943 "CGo doesn't support functions defined in a CGo import block"
I used cgo in my code as following, compile success but wasm load failed: "Failed to load Wasm module due to a missing import: env.my_time"

[code]
...

[2021-06-09 03:27] fsyyft commented on #1943
I also encountered the same problem, hope to get help!

[2021-06-09 07:18] ofauchon commented on #1939
Thanks @kenbell

[2021-06-09 10:10] aykevl commented on #1943
Yes, it's not currently supported to define functions in the header. What you can do instead is move the code (in this case the function `my_time`) into a separate C file and declare it above `import "C"` instead.

Removing the wasm label because it's not specific to WebAssembly.

[2021-06-09 10:32] rtttech commented on #1943
How to compile the .go file with the added c file?

[2021-06-09 11:22] aykevl commented on #1943
You can put them in the same package. The C file will be compiled together with the Go files in the package. Please see https://golang.org/doc/code for how code is normally organized in Go.

[2021-06-10 23:29] #1888 closed, assigned to nobody

[2021-06-11 11:15] rtttech commented on #1943
Thanks!

[2021-06-11 11:15] #1943 closed, assigned to nobody

[2021-06-13 04:14] Nv7-GitHub opened #1947 "View output LLVM"
Is it possible to view the generated LLVM code? For example, clang has the `emit-llvm` flag.

[2021-06-13 09:52] aykevl commented on #1947
Yes, this is possible. You can use `tinygo build -o somefile.ll` to generate a LLVM IR file. For details, see: https://tinygo.org/docs/reference/usage/subcommands/

[2021-06-13 09:52] #1947 closed, assigned to nobody

[2021-06-13 11:59] aykevl commented on #1888
It means that you do some sort of blocking operation in an exported function. In this case, it appears that the `Decrypt` call in the exported `clientpay` function indirectly tries to generate a random number which in turn has a `select` block, which is a blocking operation. This is not allowed in TinyGo and I don't think it will be in the future because JavaScript itself is non-blocking.

[2021-06-13 12:56] aykevl commented on #1776
Right now, Linux isn't a primary use case for TinyGo. However, we're working on getting the net package working eventually.

[2021-06-13 13:03] aykevl commented on #1879
I am working on refactoring the reflect package to be more powerful. This is still a work in progress, but once completed I think it will be feasible to implement the remaining features necessary for protobuf.

[2021-06-13 16:18] andrewrynhard opened #1949 "panic: runtime error: goroutine stack overflow on pca10056-s140v7"
I get this error with the following:

[code]
Changing the `scheduler` to `coroutines` seems to fix it.

[2021-06-13 18:13] kenbell commented on #1934
To keep this thread updated, moving forwards with #1937 (patching binary after linking) and dropping #1936.

[2021-06-14 14:59] aykevl commented on #1884
Thank you for the investigation! I believe the bug is here:

https://github.com/tinygo-org/tinygo/blob/77647970613e6f4115c93521342c891aa2bba02c/interp/memory.go#L574-L576

It should still do the GEP, even if the offset isn't known.

[2021-06-14 17:13] oflebbe commented on #1757
sorry for not mentioning it in commit message of #1931 @sago35 . we can close this now, i guess?

[2021-06-14 17:50] deadprogram commented on #1757
Labelling to close on next release.

[2021-06-16 05:33] kenbell opened #1953 "Design: How should we support RP2040 PIO?"
This issue is a placeholder to discuss how we should support RP2040 PIO

### Background
The Pico SDK comes with pioasm, which is a separate tool to assemble PIO instructions (+ interleaved Python / C).  It's run as a code generator, run before compiling the main application logic and generating python/C code.  `pioasm` can also output the binary as hex.

CircuitPython comes with it's own assembler

[2021-06-16 05:41] kenbell commented on #1953
My personal preference is to do `pio.Asm` approach.  Apps using PIO would be something like this, based on CircuitPython:
[code]

`pio.Asm(code string)` would be translated by:

1. Assemble the PIO code
2. Output the binary PIO code as constant in LLVM IR
3. Replace pio.Asm call with a pointer to the binary PIO code

[2021-06-16 12:33] hamidrezakks opened #1954 "WASM: lib WASI update"
Hi,
Thanks for the great project,
github.com/WebAssembly/wasi-libc has been updated recently, can you please update tinygo wasm to the latest wasi-lib?

Bests,
KK

[2021-06-16 14:22] soypat commented on #1953
I'm not sure I understand how `//go:generate` would work. Would the assembly be in a separate file?

I personally like `pio.Asm` since the assembly is inside the code and easier to find than if it were a tag. It's also great that it's similar to how CicuitPython does it.

[2021-06-16 15:03] ghost commented on #1941
I just tested it here, and see the same panic.  Works with "Uint8Array".

tinygo version 0.15.0 darwin/amd64 (using go version go1.15.3 and LLVM version 10.0.1) macos 10.12.4

[2021-06-16 15:11] ghost commented on #1907
OK, so I ported my canvas2D code over to WebGL (using the canvas2D as a texture).  CPU usage went down from 60% to 5%, but then as I started adding more UI features back in, the CPU usage was going up quite fast.  But I no longer suspect the animation loop, and that's why I posted back.

I was also thinking for a time that the overhead on wasm/js bridge was too high, but I am pretty sure that is a

[2021-06-17 06:04] sago35 opened #1955 "Why does adding port operations improve performance?"
In my efforts to improve the performance of ili9341, I found a strange behavior.

The following two branches have very different speeds.
The x02 branch is nearly 10 percent faster, despite having one more port operation.

[code]

* with `dbg5.Low()` : 96 fps
    * https://github.com/tinygo-org/drivers/tree/x02
    * https://github.com/tinygo-org/drivers/blob/x02/examples/ili9341/pyportal_boing/mai

[2021-06-17 06:07] sago35 commented on #1955
x02's log:
[code]

x03's log:
[code]

[2021-06-17 10:03] aykevl commented on #1955
You could disassemble the binary. One IR instruction could lead to a big difference in the generated assembly.

Also, if you are optimizing for performance you should use `-opt=2` (which is like `-O2` in GCC), the default is to optimize for code size. It may make a difference.

[2021-06-17 10:13] aykevl commented on #1907
It's hard to say exactly what is causing the performance drop. Both Firefox and Chrome have a built-in profiler, which you could try to use (so far I found the Chrome profiler easier to use).

[2021-06-17 11:49] aykevl commented on #1953
Yes, we will definitely want to have some support for PIO eventually. It's extremely powerful, I don't think I've seen anything this powerful in any other MCU I looked at. However, adding good support for it probably won't be trivial.

I should note that the ESP32 has something somewhat similar: it has a ULP coprocessor mainly intended for low-power operations. We might want to keep this in mind s

[2021-06-17 11:52] aykevl commented on #1954
Is there anything that we need from the new libc version? Better features or bug fixes relevant to TinyGo?

I'm not necessarily against updating the library, but I think it needs a bit more justification than that it is the newest version.

[2021-06-17 18:58] oflebbe opened #1957 "size of int on darwin inconsistent"
Hi, I was wondering about a test failure on my mac (testdata/filesystem.go) failed with "panic: should be non exist error"

Digging deeper I found that comparison of the fd filedescriptor in Open https://github.com/tinygo-org/tinygo/blob/dev/src/syscall/syscall_libc.go#L47 does not fail because the "int" datatype in go (and tinygo) is a 64 bit datatype , rather in the "C" binding is a 32bit data t

[2021-06-17 19:19] oflebbe commented on #1957
seems like @aykevl  recommended to use int32 in #1669 . I didn't recognized this accepting the code now in tinygo.

[2021-06-17 20:45] oflebbe commented on #1949
Maybe you can try to add (add a comma to the previous line to get syntax correct)
[code]
to `targets/pca10056-s140v7.json`

Maybe the automatic guessing of the stack doesn't fit here.

[2021-06-17 21:48] aykevl commented on #1957
Yes, `int32` would be the correct choice (because practically all modern OSes nowadays uses 32-bit int in C). Despite the name, C int and Go int are two different types and you shouldn't assume they are the same size.

[2021-06-17 22:00] aykevl commented on #1957
Here is a patch: https://github.com/tinygo-org/tinygo/pull/1958
Can you test whether it fixes the bug on your system?

[2021-06-18 07:45] aykevl commented on #1949
I've seen this a number of times now, I think it makes sense to increase the default stack size. See this PR: https://github.com/tinygo-org/tinygo/pull/1960

[2021-06-18 16:22] ghost commented on #1907
Thanks.  I tried with Firefox performance tools, and can see 80% of the time in texImage2D.  I am using canvas (2D) to do some drawing, text, and SVG->Image()->'drawImage'.  I then use 'texImage2D' with the canvas2D as a source: ie this webgl2 method:

`void gl.texImage2D(target, level, internalformat, width, height, border, format, type, HTMLCanvasElement source);
`

I was expecting a GPU-GPU bli

[2021-06-18 16:32] ghost commented on #1907
I just had a thought that it might be pixel format, but I am using RGBA for the texture, and pretty sure canvas is the same.

[code]

Anyway, I also realised this is now more an issue with my understanding of canvas & WebGL, and unrelated to tinygo.  So apologies for the noise, and thanks for a great tool!

[2021-06-18 18:19] fgsch opened #1961 "todo: go on interface call"
This was discussed on slack a while back, but for the record, the code below fails with `/usr/local/Cellar/go/1.16.5/libexec/src/net/http/transport.go:1587:5: todo: go on interface call`:

[code]

TinyGo version:

`tinygo version 0.19.0-dev-1913cb76 darwin/amd64 (using go version go1.16.5 and LLVM version 11.0.0)`

Invocation:

`tinygo build -target wasm -o main.wasm main.go`

[2021-06-18 19:43] oflebbe commented on #1957
Alright! the tinygo tests are now running flawless on macos 11.4 with xcode 12.5 .
Thanks @aykevl !

[2021-06-19 06:04] hamidrezakks commented on #1954
They have updated the MUSL

**MUSL release note:**
1.2.2 release notes

major changes:
- child restrictions lifted after fork of multithreaded parent

new features:
- _Fork function (POSIX-future)
- reallocarray function (extension from OpenBSD, now widespread)
- gettid function (kernel tid as supported concept)
- SIGEV_THREAD_ID sigevent API (Linux extension)
- tcgetwinsize and tcsetwinsize funct

[2021-06-19 15:17] deadprogram commented on #1750
@kenbell now that #1751 was merged, should this be able to be closed on next release?

[2021-06-19 15:36] kenbell commented on #1750
It's partly done right now - i want to get back to it.  Needs some more thought about how we expose 'ticks' to the machine package still, since we've settled on using timers rather than systick to get high-precision sleep.

Fundamentally, I think the concept of 'ticks' belongs in the machine package - but not sure on the best way to get it there.

We can close though, and I'll raise another issue

[2021-06-20 23:11] kenbell commented on #1953
### ESP32 ULP
Looking at the ESP32 ULP docs, it looks like variables can be allocated from `RTC_SLOW_MEM` to be shared with the main processor, whereas it looks like PIO uses FIFOs.  To support ULP, we'd need an approach that can output object files that can be combined into the tinygo app using the linker?

Ref - ULP program variables: https://docs.espressif.com/projects/esp-idf/en/latest/esp32/a

[2021-06-21 01:05] soypat commented on #1953
I'll be watching from the sidelines since most of this exceeds my knowledge on the subject. I'll leave one idea on the drawing board:
* It would be nice if I could look at someone's PIO assembly written in C/Python and have it easily ported to Go. this is nice since it also means many tutorials available on youtube on PIO also apply to TinyGo

[2021-06-21 11:55] fgsch opened #1963 "[DEV] Error building for wasi target"
Also discussed recently on slack, but for the record, the code below fails to build with:

[code]

[code]

TinyGo version:

`tinygo version 0.19.0-dev-e107efa6 darwin/amd64 (using go version go1.16.5 and LLVM version 11.0.0)`

Invocation:

`tinygo build -target wasi -o main.wasm main.go`

[2021-06-21 11:56] fgsch commented on #1963
The `internal/syscall/unix` error should be addressed by https://github.com/tinygo-org/tinygo/pull/1962.

[2021-06-21 11:56] fgsch commented on #1963
This is also related to #1961 .

[2021-06-21 11:59] fgsch commented on #1963
Applying #1962 and ignoring #1961 now fails with:

[code]

Depending on how things progress, I will eventually move this out to its own issue, but adding it here so it's documented before I forget.

[2021-06-21 13:51] fgsch commented on #1963
The above should be fixed by #1964.

[2021-06-21 14:23] aykevl commented on #1961
I looked into this before and I believe my conclusion was that it's easier to finish refactoring the reflect package first.

[2021-06-21 23:00] fgsch commented on #1963
I can confirm that after applying #1964 and commenting out the offending line to workaround #1961, this compiles, and a slightly modified version of this (one that doesn't depend on reflection) runs successfully.

[2021-06-21 23:39] fgsch opened #1966 "Memory corruption?"
While testing #1964 with the code further down, I got:

[code]

The same code compiled with ~`-gc leaking` or~ `-scheduler none` works as expected (just prints `"foo="`).

Code:

[code]

Command line:

`tinygo build -target wasi -o test.wasm test.go`

[2021-06-22 00:35] fgsch commented on #1966
I can reproduced this issue with 0.17.0, 0.18.0 and 0.19.0.

[2021-06-22 00:49] fgsch commented on #1966
Reduced repro (updated):

[code]

[2021-06-22 08:38] fgsch commented on #1963
@deadprogram since this only applies to dev we can probably close it.

[2021-06-22 08:49] deadprogram commented on #1963
Ah, ok. Thanks for letting me know. Now closing.

[2021-06-22 08:49] #1963 closed, assigned to nobody

[2021-06-24 07:39] twmb commented on #1284
Note that v1.1.5 avoids the problem this issue is about.

[2021-06-24 09:52] aykevl commented on #1284
Are you sure? It doesn't look like it:

https://github.com/twmb/murmur3/blob/v1.1.5/murmur.go#L69
[code]

[code]

For that reason, I'm using github.com/spaolacci/murmur3 instead.

For reference, this is the TinyGo type:

https://github.com/tinygo-org/tinygo/blob/c3032660c9e2e1fd5a188c6ac54902637a77b975/src/reflect/value.go#L756-L759

And here the upstream Go type:

[code]

Note this part:

Therefo

[2021-06-24 13:16] aykevl commented on #1886
You don't need to download the tinygo.exe file, you need to download the entire build and extract it. The tinygo.exe file is just the compiler, it doesn't contain the fixes in #1892.

EDIT: nevermind, the PR is wrong.

[2021-06-24 18:42] dmlambea commented on #60
Hi, @deadprogram

This thread seems to be the only source of information regarding the linking of C code with TinyGo code, and I'm still missing parts of the recipe. Maybe you know where should I look for information on this topic.

My case is quite similar to yours:  I want to call some C code from main.go and I can compile the program but during the linkage some errors arise saying that there ar

[2021-06-24 19:26] deadprogram commented on #60
I suggest following @aykevl advice and look at the Bluetooth package https://github.com/tinygo-org/bluetooth

Also check out https://github.com/tinygo-org/tinygo/tree/release/cgo/testdata for some examples that are part of our automated tests.

Hope that helps!

[2021-06-24 20:59] twmb commented on #1284
Oh, correction: this follows the unsafe rule (6) in https://golang.org/pkg/unsafe/, follows the rules laid out by @mdempsky in https://github.com/golang/go/issues/40701, and passes https://github.com/jlauinger/go-safer. I misread this issue.

I'm not sure why tinygo's int may be longer than the machine's uintptr, because the purpose of an int is to be the size of a machine word.

The `reflect.Stri

[2021-06-25 00:08] dkegel-fastly commented on #1848
This is still happening here on the dev branch (v0.18.0-78-ge02f308), and is blocking compilation of a real app.

[2021-06-25 05:17] kenbell commented on #1953
I've created a proof of concept of using the 'official' pioasm tool to output Go code using `//go:generate`....

This is the change to the pioasm tool: https://github.com/raspberrypi/pico-sdk/compare/master...kenbell:pioasm-go-output
This is an example app that uses `//go:generate`: https://github.com/kenbell/tinygo-rp2040-pio-example

Since there's no support for actually using the PIO binary yet

[2021-06-25 13:18] aykevl commented on #60
@dmlambea can you share the source code that shows this error? I cannot say what is going wrong from the error message.

Note that TinyGo does not currently support functions in the header file. So something like this does not work:

[code]

Instead you need to move the C code in a separate file in the same package.